.hero-404 {
  $root: &;

  min-height: 68vh;
  background-image: url("../images/404/404_bg.png");
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
  background-color: $color_bg;

  @include respond(laptops) {
    min-height: 71vh;
  }

  @include respond(xl) {
    min-height: 74vh;
  }

  @include respond(lg) {
    min-height: 36vh;
    background-size: 70%;
  }

  @include respond(md) {
    min-height: 31vh;
  }

  @include respond(xs) {
    background-size: 96%;
    background-position: bottom;
  }

  & .cross {
    right: 14%;
    top: 29%;

    @include respond(lg) {
      right: 14%;
      top: 17%;
    }

    @include respond(md) {
      right: 11%;
    }

    @include respond(xs) {
      right: unset;
      left: 9%;
      top: 12%;
      height: 40px;
      width: 14px;
    }

    @include respond(xxs) {
      left: 13%;
      top: 15%;
    }

    &::after {
      @include respond(xs) {
        height: 14px;
        width: 40px;
        left: -13px;
        top: 14px;
      }
    }
  }
}

.content-404 {
  padding: 6rem 0 11rem;
  position: relative;
  background-color: $color_bg;

  @include respond(xs) {
    padding: 6rem 0 2rem;
  }

  & .cross {
    top: unset;
    bottom: -4%;
    left: 30%;
    z-index: 999;

    @include respond(xs) {
      left: unset;
      display: block;
      height: 40px;
      width: 14px;
      right: 4%;
      bottom: -31%;
      top: unset;
    }

    @include respond(xxs) {
      right: 4%;
    }

    &::after {
      @include respond(xs) {
        height: 14px;
        width: 40px;
        left: -13px;
        top: 14px;
      }
    }
  }

  &__triangles {
    position: absolute;
    max-width: 15rem;
    left: 20%;

    @include respond(lg) {
      left: 11%;
    }

    @include respond(xs) {
      left: unset;
      right: -11%;
      top: 0%;
      max-width: 11rem;
    }

    @include respond(xxs) {
      right: -12%;
    }

    @include respond(iphone-5) {
      right: -15%;
    }
  }

  &__bar {
    position: absolute;
    max-width: 6rem;
    right: 23%;

    @include respond(lg) {
      right: 17%;
    }

    @include respond(xs) {
      display: none;
    }
  }

  &__headlines {
    text-align: center;
  }

  &--h--2 {
    line-height: 1;
  }

  & .line {
    align-self: start;
    margin: 1.5rem 40.5%;

    @include respond(laptops) {
      margin: 1.5rem 21.5%;
    }

    @include respond(xl) {
      margin: 1.5rem 24.5%;
    }

    @include respond(lg) {
      margin: 1.5rem 41.5%;
    }

    @include respond(xs) {
      margin: 1.5rem auto;
    }
  }

  &-ah--3 {
    color: $color-3;
    font-weight: $fw-medium;
    margin: 0 auto;
    width: 52%;
    padding-top: 3rem;

    @include respond(xs) {
      width: 100%;
    }
  }
}
