.hero-academic-institutions {
  $root: &;

  background-image: url("../images/academic_inst/hero_academic_bg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 88%;
  padding: 10rem 0;
  overflow-x: hidden;

  @include respond (laptops) {
    background-position-x: 120%;
    background-size: 74%;
    overflow-x: hidden;
  }

  @include respond (lg) {
    background-position-x: 302%;
    background-size: 92%;
    padding: 10rem 0 6rem;
  }

  @include respond (md) {
    background-position: bottom;
    background-size: 81%;
    background-position-x: 146%;
    padding: 6rem 0;
  }

  @include respond (xs) {
    background-size: 89%;
    background-position-x: 239%;
  }

  &__headlines {
    width: 56%;

    @include respond (lg) {
      width: 60%;
    }

    @include respond (xs) {
      width: 100%;
    }

    #{$root}-h--1 {
      color: $color-3;
      font-family: $font-2;
      font-weight: $fw-medium;
    }

    #{$root}-h--2 {
      font-weight: $fw-bold;
      line-height: 1;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        right: 1.8rem;
        bottom: 0;
        border-width: 2.5rem;
        border-style: solid;
        border-color: $border_color;

        @include respond (xs) {
          border-width: 1.5rem;
          bottom: unset;
          top: 11%;
          right: 5.8rem;
        }

        @include respond (xxs) {
          top: 14%;
        }
      }
    }

    #{$root}-p--1 {
      color: $text-color-dark;
      font-weight: $fw-regular;
      width: 90%;
      margin-top: 2rem;

      @include respond (xs) {
        width: 59%;
      }
    }
  }
}

//////Gap Section /////
.gap {
  $root: &;

  background-color: $color-5;
  padding: 10rem 0;
  text-align: center;
  overflow: hidden;
  position: relative;

  @include respond(xs) {
    padding: 5rem 0;
  }

  #{$root}-ah--1 {
    color: $text-color-light;
  }

  & .line {
    margin-left: 16%;

    @include respond (lg) {
      margin-left: 23%;
    }

    @include respond (md) {
      margin-left: 6%;
    }

    @include respond (xs) {
      margin-left: 16%;
    }
  }

  &__icon-corner {
    width: 15rem;
    max-width: 15rem;
    position: absolute;
    left: -4.5%;
    top: 48%;

    @include respond (lg) {
      width: 10rem;
      left: -5.5%;
      top: 50%;
    }

    @include respond (md) {
      width: 12rem;
    }

    @include respond(xs) {
      left: unset;
      right: -12%;
      top: 46.5%;
    }

    @include respond(iphone-5) {
      right: -13%;
      top: 47.5%;
      width: 10rem;
    }
  }

  &__icon-bar-mobile {
    display: none;

    @include respond(xs) {
      display: block;
      position: absolute;
      max-width: 7rem;
      bottom: 15%;
      left: -7%;
    }

    @include respond(iphone-5) {
      left: -8%;
      max-width: 6rem;
    }
  }
}
