
.hero-companies {
  $root: &;

  background-image: url("../images/companies/bg-companies.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 88%;
  padding: 10rem 0 20rem;

  @include respond (laptops) {
    background-size: 67%;
  }

  @include respond(lg) {
    background-position-x: 108%;
  }

  @include respond(xs) {
    background-position-y: 75%;
    background-size: 80%;
    background-position-x: 125%;
    padding: 6rem 0 20rem;
  }

  @include respond(xxs) {
    background-position-y: 70%;
  }

  &__headlines {
    width: 65%;

    @include respond(xs) {
      width: 82%;
    }

    @include respond(xxs) {
      width: 93%;
    }

    #{$root}-h--5 {
      color: $text-color-dark;
      font-family: $font-2;
      font-weight: $fw-bold;
      line-height: 1;
      position: relative;
      padding-bottom: 1rem;

      &::before {
        position: absolute;
        content: "";
        right: 4rem;
        bottom: 0;
        border-width: 2.5rem;
        border-style: solid;
        border-color: $border_color;

        @include respond (laptops) {
          right: 12rem;
        }

        @include respond(lg) {
          right: 0;
          bottom: 8%;
        }

        @include respond(xs) {
          border-width: 2rem;
          bottom: 5%;
        }
      }

      & br {
        @include respond(lg) {
          display: none;
        }
      }
    }

    #{$root}-ah--3 {
      color: $color-3;
      font-weight: $fw-medium;

      @include respond(xs) {
        width: 71%;
      }

      @include respond(xxs) {
        width: 68%;
        margin-top: 4rem;
      }
    }
  }
}

///// Services Section

.services {
  $root: &;

  position: relative;

  &__triangles-left {
    position: absolute;
    max-width: 18rem;
    left: -5%;
    top: 18%;

    @include respond(xl) {
      max-width: 16rem;
      left: -5%;
    }

    @include respond(lg) {
      max-width: 8rem;
      left: -4%;
      top: 12%;
    }

    @include respond(md) {
      left: -5%;
    }

    @include respond(xs) {
      left: -12%;
      top: 43%;
    }

    @include respond(xxs) {
      left: -13%;
      top: 45%;
    }
  }

  &__articles {
    margin-top: -9rem;
  }

  // #{$root}-h--1 {}

  #{$root}--p--1 {
    color: $text-color-dark;
    width: 46%;
    font-weight: $fw-regular;

    @include respond(xs) {
      width: 80%;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;

    @include respond (xs) {
      justify-content: center;
    }

    &__box {
      width: 25%;
      background-color: #fff;
      margin-right: 10rem;
      margin-bottom: 3rem;
      text-align: center;
      border-radius: 15px 15px 0;
      position: relative;
      transition: all 0.4s ease-in-out;
      min-height: 8rem;
      display: flex;
      justify-content: center;
      align-items: center;

      @include respond(lg) {
        width: 30%;
        margin-right: 3rem;
      }

      @include respond(md) {
        width: 29%;
        min-height: 9rem;
        padding: 0 1rem;
      }

      @include respond(xs) {
        width: 45%;
        margin-right: 1rem;
        margin-left: 1rem;
        padding: 0;
      }

      &:nth-of-type(1n) {
        &::before {
          position: absolute;
          content: "";
          right: 0;
          bottom: 0;
          border-width: 2.5rem;
          border-style: solid;
          border-color: transparent $text-color-dark $text-color-dark transparent;

          @include respond(md) {
            border-width: 2rem;
          }
        }
      }

      &:nth-of-type(3n+2) {
        &::before {
          border-color: transparent $color-3 $color-3 transparent;
        }
      }

      &:nth-of-type(3n) {
        &::before {
          border-color: $border_color;
        }
      }

      &:hover {
        transform: scale(1.1, 1.1);
      }

      & .box--p--2 {
        font-weight: $fw-bold;
        color: $text-color-dark;
        font-family: $font-2;
      }
    }
  }
}

//////Provider Section
.provider {
  $root: &;

  padding: 10rem 0;
  position: relative;

  @include respond(md) {
    padding: 8rem 0 6rem;
  }

  & .cross {
    left: -0.5%;

    @include respond(lg) {
      left: -1%;
      top: 29%;
    }

    @include respond (md) {
      display: none;
    }
  }

  &__image-mobile {
    display: none;

    @include respond(xs) {
      display: block;
      max-width: 4rem;
      position: absolute;
      left: -5%;
      top: 12%;
    }
  }

  &--ah--1 {
    & .provider-span--ah--3 {
      color: $color-3;
      font-weight: $fw-bold;
    }
  }

  &--p--1 {
    color: $text-color-dark;
    width: 37%;

    @include respond (xs) {
      width: 100%;
    }
  }

  &__row {
    display: flex;
    margin-top: 2rem;

    @include respond (xs) {
      flex-direction: column;
    }
  }

  &__left {
    margin-right: 20rem;
    max-height: 70vh;

    @include respond(xl) {
      max-height: 80vh;
    }

    @include respond(lg) {
      max-height: 41vh;
    }

    @include respond(md) {
      margin-right: 10rem;
    }

    @include respond(xs) {
      max-height: 59vh;
      height: 59vh;
      margin-right: 0;
      padding-bottom: 8rem;
    }

    @include respond(xxs) {
      max-height: 63vh;
      height: 63vh;
    }

    &--ah--3 {
      color: $color-3;
      font-weight: $fw-medium;
      padding-bottom: 3rem;
    }
  }

  .swiper-container {
    width: 100%;

    @include respond (md) {
      padding-top: 2rem;
    }
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: all 0.4s ease-in-out;

    & .provider-slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 2rem 2rem;
      background-color: #fff;
      width: 46%;
      border-radius: 20px 20px 0 20px;
      transition: transform 0.4s ease-in-out;
      margin: 5rem 0;
      opacity: 0.8;

      @include respond(lg) {
        min-height: 13rem;
        padding: 1rem 2rem;
      }

      &--layer {
        color: $color-3;
        font-family: $font-2;
        font-size: 1.2rem;
        font-weight: $fw-black;
      }

      &--title {
        @extend %para-1-fs;

        font-weight: $fw-bold;
        font-family: $font-2;
        color: $text-color-dark;
      }

      &--line {
        align-self: start;
        width: 4rem;
      }
    }
  }

  .swiper-slide-next {
    padding-left: 21%;

    @include respond(md) {
      padding-left: 15%;
    }

    & .provider-slide {
      transform: scale(1.8, 1.8);
      padding: 0 3rem;
      position: relative;
      max-height: 14rem;
      min-height: 14rem;
      opacity: 1;

      @include respond(lg) {
        max-height: 12rem;
        min-height: 12rem;
      }

      @include respond(md) {
        max-height: 11rem;
        min-height: 11rem;
      }

      @include respond(md) {
        transform: scale(1.5, 1.5);
      }

      &::before {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        border-width: 2.5rem;
        border-style: solid;
        border-color: $border_color;

        @include respond (md) {
          border-width: 2rem;
        }
      }

      & .provider-slide--layer {
        padding-top: 2rem;
      }

      & .provider-slide--title {
        font-weight: $fw-bold;
      }

      & .provider-slide--line {
        height: 6px;
        width: 3rem;
        margin: 1rem 0;
      }
    }
  }

  ////Right
  &__right {
    display: flex;
    flex-direction: column;

    @include respond(xs) {
      margin-top: 6rem;
    }

    &--ah--3 {
      color: $text-color-dark;
      font-family: $font-2;
      font-weight: $fw-medium;
    }

    & .line {
      align-self: baseline;
      margin-bottom: 14%;

      @include respond(lg) {
        margin-bottom: 3%;
      }
    }

    & .right-box {
      display: flex;
      align-items: center;
      margin-bottom: -18%;
      margin-left: -12%;

      @include respond (xs) {
        margin-bottom: unset;
        margin-left: unset;
      }

      &--icon {
        width: 16rem;
        max-width: 20rem;
      }

      &--p--2 {
        font-family: $font-2;
        font-weight: $fw-semi-bold;
        color: $text-color-dark;

        @include respond(lg) {
          margin-left: -6%;
        }
      }
    }
  }
}

//// Testing Section //////
.testing {
  $root: &;

  padding: 5rem 0 10rem;
  position: relative;

  &__corner_icon_upper {
    max-width: 18rem;
    position: absolute;
    right: 0;
    top: 19%;

    @include respond(xs) {
      width: 12rem;
      top: -4%;
      right: -12%;
    }
  }

  &__articles {
    width: 100%;
  }

  // &--ah--1 {}

  &--p--1 {
    color: $text-color-dark;
    width: 42%;

    @include respond (laptops) {
      width: 46%;
    }

    @include respond(xs) {
      width: 100%;
    }
  }

  &--ah--3 {
    color: $color-3;
    font-family: $font-2;
    font-weight: $fw-medium;
    margin: 4rem 0 1rem;
  }

  &__wrapper {
    display: flex;
    margin-top: 8rem;

    @include respond(md) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    & .testing-box {
      background-color: #fff;
      box-shadow: 0 10px 50px #1c1f470d;
      border-radius: 1.5rem 1.5rem 0;
      padding: 3rem;

      @include respond (md) {
        width: 80%;
        padding: 5rem 6rem;
      }

      @include respond(xs) {
        width: 91%;
        padding: 4rem 5rem;
      }

      &:not(:last-of-type) {
        margin-right: 4rem;

        @include respond(md) {
          margin-right: 0;
          margin-bottom: 5rem;
        }
      }

      &--icon {
        width: 7rem;
        max-width: 7rem;
        box-shadow: 0 10px 50px #1c1f470d;
        margin-bottom: 1rem;
        position: relative;
      }

      &-h--4 {
        color: $text-color-dark;
      }

      & .line {
        width: 4rem;
      }

      &--p--1 {
        color: $text-color-dark;
      }
    }
  }
}

//// Testing Section End//////
