body {
  background: transparent linear-gradient(340deg, #dee8f4 0%, #f7f8fc 100%) 0% 0% no-repeat padding-box;
}

.hero-contact {
  $root: &;

  padding: 11rem 0 5rem;
  background-image: url("../images/contact/bg_hero_contact.png");
  background-repeat: no-repeat;
  background-position: right;
  min-height: 70vh;

  @include respond (laptops) {
    background-size: 65%;
  }

  @include respond(lg) {
    min-height: 34vh;
  }

  @include respond(md) {
    padding: 5rem 0 5rem;
  }

  @include respond(xs) {
    background-size: 82%;
    background-position-y: -2%;
    background-position-x: 150%;
  }

  &-h--2 {
    position: relative;
    width: 26%;

    @include respond(xs) {
      width: 45%;
    }

    @include respond(xxs) {
      width: 51%;
    }

    &::before {
      position: absolute;
      content: "";
      right: 0;
      bottom: 12%;
      border-width: 2.5rem;
      border-style: solid;
      border-color: $border_color;

      @include respond(md) {
        border-width: 2rem;
      }
    }
  }
}
