.pages-hero {
  $root: &;

  background-image: url("../images/home/home_bg_hero.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 88%;
  padding: 11rem 0 25rem 0;

  @include respond (laptops) {
    background-position: top;
    background-position-x: 97%;
    background-size: 58%;
  }

  @include respond (xl) {
    background-position-x: 110%;
    background-size: 72%;
  }

  @include respond (lg) {
    padding: 11rem 0 16rem 0;
    background-position-x: 119%;
    background-size: 79%;
  }

  @include respond (md) {
    padding: 7rem 0 11rem 0;
    background-position-x: 138%;
    background-size: 79%;
  }

  @include respond (xs) {
    padding: 4rem 0 39rem 0;
    background-position: right;
    background-size: 88%;
    background-position-x: 175%;
  }

  &__headlines {
    width: 46%;

    @include respond (md) {
      width: 47%;
    }

    @include respond (xs) {
      width: 100%;
    }

    #{$root}-h--1 {
      color: $color-3;
      font-family: $font-2;
      font-weight: $fw-medium;
    }

    #{$root}-h--2 {
      font-weight: $fw-bold;
      line-height: 1;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        right: 1.8rem;
        bottom: 0;
        border-width: 2.5rem;
        border-style: solid;
        border-color: $border_color;

        @include respond(xs) {
          right: 8.8rem;
          border-width: 2rem;
        }

        @include respond(xxs) {
          right: 4.8rem;
          border-width: 1.7rem;
        }
      }
    }

    #{$root}-p--1 {
      color: $text-color-dark;
      font-weight: $fw-regular;
      width: 90%;

      @include respond (md) {
        width: 100%;
      }

      @include respond (xs) {
        width: 53%;
      }
    }
  }
}

.academic {
  $root: &;

  padding: 5rem 0;
  position: relative;

  &__mobile-img {
    display: none;

    @include respond(xs) {
      display: block;
      position: absolute;
      max-width: 12rem;
      top: 2%;
      right: -12%;
    }

    @include respond(xxs) {
      right: -13%;
    }
  }

  &__headlines {
    width: 71%;

    @include respond(xs) {
      width: 92%;
    }

    #{$root}-ah--1 {
      color: $text-color-dark;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;

    @include respond(md) {
      padding: 0;
    }
  }//__row

  .academic-white-box {
    display: flex;
    margin-top: 3rem;

    @include respond(lg) {
      margin-top: 4rem;
    }

    @include respond(xs) {
      margin-top: 2rem;
      flex-direction: column;
    }

    &__arrow {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 3rem;

      @include respond (lg) {
        margin-right: 2rem;
      }

      @include respond (xs) {
        display: none;
      }

      & .academic-icon {
        width: 2rem;
        height: 2rem;
      }
    }

    &__titles {
      @include respond(xs) {
        padding-left: 3%;
      }
    }
  }
}

.academic-accordion {
  display: flex;

  // custom-accordion__left
  &__left {
    max-width: 38%;
    flex: 0 0 38%;

    @include respond (lg) {
      max-width: 40%;
      flex: 0 0 40%;
    }

    @include respond(xs) {
      max-width: 100%;
      flex: 0 0 100%;
    }

    &-p--1 {
      font-weight: $fw-bold;
      color: $text-color-dark;
      margin-bottom: 2rem;
    }

    &__wrapper {
      display: flex;
    }

    // custom-accordion__left__course
    &__course {
      @extend %para-4-fs;

      max-width: 100%;
      width: 100%;
      letter-spacing: 0.63px;
      position: relative;
      cursor: pointer;
      font-family: $font-2;
      font-weight: $fw-regular;
      color: grey;
      margin-bottom: 1rem;
      margin-left: 3px;

      @include respond (md) {
        font-size: 1.8rem;
        letter-spacing: 0;
      }

      @include respond(xs) {
        margin-bottom: 2rem;
      }

      // custom-accordion__left__course--active
      &--active {
        position: relative;
        font-weight: $fw-semi-bold;
        color: $text-color-dark;

        &::before {
          content: "● ";
          color: $color-1;
          font-size: 2rem;
          position: absolute;
          left: -1.6rem;
          top: 50%;
          transform: translate(0%, -50%);
        }
      }// custom-accordion__left__course--active
    } // custom-accordion__left__course
  } // custom-accordion__left

  &__right {
    max-width: 55%;
    flex: 0 0 55%;
    position: relative;
    padding-left: 4rem;

    @include respond(lg) {
      max-width: 60%;
      flex: 0 0 60%;
    }

    @include respond(xs) {
      max-width: 100%;
      display: none;
    }

    &--large {
      // @extend %blocks-padding-y;

      align-items: flex-start;
    }

    // custom-accordion__right__course
    &__course {
      display: none;
      height: 100%;
      z-index: 999;

      &--img {
        position: relative;
        height: 92%;

        @include respond (md) {
          height: 88%;
        }

        &::before {
          position: absolute;
          content: "";
          right: 0;
          bottom: 0;
          border-width: 2.5rem;
          border-style: solid;
          border-color: $border_color;
          z-index: 999;
        }

        & .academic-right-image {
          border-radius: 10px 10px 0;
          height: 100%;
        }

        & .academic-right-overlay {
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: $text-color-dark;
          opacity: 0.3;
          border-radius: 10px 10px 0;
          color: #fff;
        }
      }

      &--active {
        max-width: 91%;
        width: 100%;
        display: block !important;
        animation: fadein 1s;

        @include respond (md) {
          max-width: 100%;
        }
      }
    }// custom-accordion__right__course--active
  }// /.course
}// /.right

//custom-accordion
.course {
  $root: &;

  color: #000;
  font-family: $font-2;

  &-title {
    font-size: 6rem;
    font-family: $font-2;
    letter-spacing: 0.92px;
    font-weight: $fw-bold;
    color: $text-color-dark;
    line-height: 1;

    @include respond(xs) {
      font-size: 20px;
    }
  }

  &-article {
    width: 100%;
  }

  &-para {
    @extend .para, .para--1;

    max-width: 100%;
    font-weight: $fw-regular;
  }
}

.active {
  position: relative;
  margin-left: 3px;
  color: $color-1;
  box-shadow: none;
  font-weight: $fw-black;

  &::before {
    background-color: $color-1;
  }
}

