.hero-ourPrograms {
  $root: &;

  padding: 6rem 0 8rem;

  & .cross {
    @include respond(laptops) {
      right: -3%;
    }

    @include respond(lg) {
      right: 0;
    }

    @include respond (md) {
      right: -1%;
      top: 28%;
    }

    @include respond (xs) {
      display: none;
    }
  }

  &__headlines {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;

    #{$root}-bar-icon-right {
      max-width: 7rem;
      position: absolute;
      right: -3%;
      top: 41%;
    }

    #{$root}-h--2 {
      font-weight: $fw-bold;
      line-height: 1;
      position: relative;
      padding-bottom: 1rem;
    }

    & .line {
      margin: 1.5rem 19%;
      align-self: self-start;

      @include respond (laptops) {
        margin: 1.5rem 22%;
      }

      @include respond (xl) {
        margin: 1.5rem 25%;
      }

      @include respond (lg) {
        margin: 1.5rem 21%;
      }

      @include respond (xs) {
        margin: 1.5rem auto;
      }
    }

    #{$root}-ah--3 {
      color: $color-3;
      font-weight: $fw-medium;
      padding: 2rem 7rem 0 7rem;

      @include respond (xs) {
        padding: 0;
      }
    }

    & .triangle__red {
      display: none;

      @include respond(xs) {
        display: block;
        left: unset;
        top: unset;
        right: 0;
        bottom: 0;
      }

      @include respond(xxs) {
        right: -4%;
        bottom: 1%;
      }
    }
  }
}

/////// OurPrograms-image Section ////////

.ourPrograms-image {
  $root: &;

  background-image: url("../images/our_programs/hero_programs_bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 65%;
  min-height: 92vh;
  position: relative;

  @include respond(lg) {
    min-height: 37vh;
  }

  @include respond (xs) {
    background-size: 100%;
    min-height: 41vh;
  }

  #{$root}-ah--1 {
    text-align: center;
  }

  & .line {
    margin: 1.5rem 22.5%;
    align-self: self-start;

    @include respond (laptops) {
      margin: 1.5rem 25%;
    }

    @include respond (xl) {
      margin: 1.5rem 25%;
    }

    @include respond (lg) {
      margin: 1.5rem 28%;
    }

    @include respond (md) {
      margin: 1.5rem 15%;
    }

    @include respond (xs) {
      margin: 1.5rem auto;
    }
  }

  &__images {
    &--corners_icon_left {
      max-width: 19rem;
      height: auto;
      position: absolute;
      left: 15%;
      top: 37%;

      @include respond(md) {
        max-width: 14rem;
      }

      @include respond (xs) {
        max-width: 9rem;
        left: -9%;
      }
    }

    &--bar-icon-right {
      width: 6rem;
      max-width: 6rem;
      height: auto;
      position: absolute;
      right: 18%;
      top: 47%;

      @include respond (xs) {
        display: none;
      }
    }
  }
}

/////// Brain Section ////////

.ourPrograms-brain {
  padding-bottom: 14rem;
  z-index: 0;
  position: relative;

  @include respond(xs) {
    padding-bottom: 10rem;
  }

  & .cross {
    right: unset;
    top: unset;
    left: 6%;
    bottom: 8%;

    @include respond(md) {
      left: 4%;
      bottom: 5%;
    }

    @include respond(xs) {
      left: unset;
      right: -2%;
      bottom: -22%;
      background-color: $color-8;
    }

    &::after {
      @include respond(xs) {
        background-color: $color-8;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-evenly;
    width: 97%;
    margin: 0 auto;
    margin-top: -5%;
    opacity: 0;

    @include respond (xs) {
      flex-wrap: wrap;
    }
  }

  &__row.animateRow {
    animation: slide-in-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    @include respond (md) {
      animation: none;
      opacity: 1;
    }
  }

  &__box {
    width: 40%;
    background-color: #fff;
    border-radius: 15px;
    padding: 5rem;
    z-index: 999;

    @include respond (md) {
      padding: 3rem;
      width: 44%;
    }

    @include respond (xs) {
      width: 94%;
    }

    &:first-of-type {
      @include respond(xs) {
        margin-bottom: 4rem;
      }
    }

    &--ah--4 {
      font-family: $font-2;
      font-weight: $fw-bold;
    }

    .right {
      background-color: $color-1;
    }
  }
}

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
