.hero-students {
  $root: &;

  background-image: url("../images/students/bg_students.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 88%;
  padding: 8rem 0 9rem;
  background-color: $color_bg;

  @include respond(laptops) {
    background-size: 55%;
    background-position-x: 100%;
    padding: 10rem 0;
  }

  @include respond(lg) {
    background-size: 65%;
    background-position-x: 105%;
  }

  @include respond(xs) {
    background-size: 76%;
    background-position-x: 125%;
    background-position-y: 101%;
    padding: 4rem 0;
  }

  &__headlines {
    #{$root}-h--5 {
      & br {
        @include respond(xs) {
          display: none;
        }
      }
    }

    #{$root}-ah--3 {
      color: $color-3;
      font-weight: $fw-medium;
      width: 45%;

      @include respond(xs) {
        width: 52%;
      }

      @include respond(xxs) {
        width: 59%;
      }
    }
  }
}

//// Students Programs
.students-programs {
  padding: 9rem 0;
}
