.thanks-hero {
  $root: &;

  min-height: 63vh;
  background-image: url("../images/thanks/thanks_bg.png");
  background-repeat: no-repeat;
  background-size: 53%;
  background-position: center;
  background-color: $color_bg;

  @include respond(lg) {
    min-height: 40vh;
    background-size: 65%;
  }

  @include respond(md) {
    min-height: 31vh;
  }

  @include respond(xs) {
    background-size: 87%;
    background-position: bottom;
  }

  & .cross {
    right: 19%;
    top: 29%;

    @include respond(lg) {
      right: 14%;
      top: 17%;
    }

    @include respond(md) {
      right: 11%;
    }

    @include respond(xs) {
      right: unset;
      left: 3%;
      top: 12%;
      height: 40px;
      width: 14px;
    }

    @include respond(xxs) {
      left: 13%;
      top: 15%;
    }

    &::after {
      @include respond(xs) {
        height: 14px;
        width: 40px;
        left: -13px;
        top: 14px;
      }
    }
  }
}

.thanks-content {
  padding: 6rem 0;
  position: relative;
  background-color: $color_bg;

  @include respond(xs) {
    padding: 6rem 0 10rem;
  }

  & .cross {
    display: none;

    @include respond(xs) {
      display: block;
      height: 40px;
      width: 14px;
      right: 5%;
      bottom: 12%;
      top: unset;
    }

    @include respond(xxs) {
      bottom: 9%;
    }

    &::after {
      @include respond(xs) {
        height: 14px;
        width: 40px;
        left: -13px;
        top: 14px;
      }
    }
  }

  &__triangles {
    position: absolute;
    max-width: 15rem;
    left: -1%;

    @include respond(xs) {
      left: unset;
      right: -11%;
      top: 0%;
      max-width: 11rem;
    }

    @include respond(iphone-5) {
      right: -15%;
    }
  }

  &__headlines {
    text-align: center;
  }

  &--h--2 {
    line-height: 1;
  }

  & .line {
    align-self: start;
    margin: 1.5rem 19.5%;

    @include respond(laptops) {
      margin: 1.5rem 21.5%;
    }

    @include respond(xl) {
      margin: 1.5rem 24.5%;
    }

    @include respond(lg) {
      margin: 1.5rem 20.5%;
    }

    @include respond(xs) {
      margin: 1.5rem auto;
    }
  }

  &-ah--3 {
    color: $color-3;
    font-weight: $fw-medium;
    margin: 0 auto;
    width: 46%;
    padding-top: 3rem;

    @include respond(xs) {
      width: 100%;
    }
  }
}
