
.hero-about {
  $root: &;

  background-image: url("../images/about/bg_about.png");
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: -12vw;
  background-size: contain;
  padding: 10rem 0 8rem;
  background-color: $color_bg;
  position: relative;

  @include respond(xl) {
    background-position-x: -44%;
  }

  @include respond (lg) {
    background-size: 79%;
    background-position-x: -27vw;
    background-position-y: 100%;
    padding: 6rem 0 8rem;
  }

  @include respond(md) {
    background-size: 95%;
    background-position-x: -42vw;
    background-position-y: 24%;
  }

  @include respond (xs) {
    background-position-x: 22vw;
    background-position-y: 55%;
  }

  @include respond(xxs) {
    background-position-y: 59%;
  }

  &__image-mobile {
    display: none;

    @include respond(xs) {
      display: block;
      position: absolute;
      max-width: 6rem;
      bottom: 2%;
      left: -6%;
    }
  }

  &__row {
    display: flex;
  }

  &__left-image {
    flex: 0 0 50%;

    @include respond(xs) {
      flex: 0 0 0;
    }
  }

  &-h--2 {
    position: relative;
    width: 41%;

    &::before {
      position: absolute;
      content: "";
      right: 0;
      bottom: 12%;
      border-width: 2.5rem;
      border-style: solid;
      border-color: $border_color;

      @include respond(md) {
        border-width: 2rem;
      }
    }
  }

  &-h--1 {
    margin: 2rem 0;
  }

  &-p--1 {
    @include respond(xs) {
      width: 62%;
    }

    @include respond(xxs) {
      width: 70%;
    }
  }

  &__buttons {
    display: flex;
    padding-top: 5rem;

    @include respond(md) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    & .btn {
      width: 25%;

      @include respond(lg) {
        width: 30%;
      }

      @include respond(md) {
        width: 60%;
        padding: 2rem 1.5rem;
      }

      &:not(:last-of-type) {
        margin-right: 2rem;

        @include respond(md) {
          margin-right: 0;
          margin-bottom: 2rem;
        }

        @include respond(xs) {
          border-radius: 10px 10px 0 10px;
        }
      }
    }
  }
}
