
.hero-career {
  $root: &;

  background-image: url("../images/career/bg_hero_career.png");
  background-repeat: no-repeat;
  background-position: right;
  padding: 10rem 0 23rem;

  @include respond(laptops) {
    background-size: 64%;
    padding: 10rem 0 26rem;
  }

  @include respond(lg) {
    padding: 7rem 0 23rem;
    background-size: 72%;
  }

  @include respond(xs) {
    background-size: 110%;
    background-position-y: 77%;
    background-position-x: 18vw;
  }

  @include respond(xxs) {
    padding: 5rem 0 23rem;
  }

  @include respond(iphone-5) {
    background-position-x: 28vw;
  }

  &__headlines {
    width: 57%;

    @include respond(xs) {
      width: 100%;
    }

    #{$root}-h--5 {
      color: $text-color-dark;
      font-family: $font-2;
      font-weight: $fw-bold;
      line-height: 1;
      position: relative;
      padding-bottom: 1rem;

      &::before {
        position: absolute;
        content: "";
        right: -2%;
        bottom: 0;
        border-width: 2.5rem;
        border-style: solid;
        border-color: $border_color;

        @include respond(lg) {
          right: 14%;
          bottom: 7%;
        }

        @include respond(md) {
          border-width: 2rem;
        }
      }
    }

    #{$root}-ah--3 {
      color: $color-3;
      font-weight: $fw-medium;
      margin: 1rem 0;
      width: 83%;

      @include respond(xs) {
        width: 55%;
      }
    }

    #{$root}-p--3 {
      font-family: $font-2;
      font-weight: $fw-medium;
    }
  }
}

// Career Accordion
.career-accordion-section {
  padding: 0 0 10rem 0;
  position: relative;

  @include respond(lg) {
    padding: 2rem 0;
  }

  & .cross__dark-blue {
    right: unset;
    left: -1%;
    top: 20%;

    @include respond(lg) {
      top: 15%;
    }

    @include respond(md) {
      top: 21%;
    }

    @include respond(xs) {
      display: none;
    }
  }

  &__triangles-left {
    display: none;

    @include respond(xs) {
      display: block;
      position: absolute;
      max-width: 8rem;
      top: 50%;
      left: -12%;
    }
  }

  &__container {
    @include respond(xs) {
      padding: 0 $container-padding-x--mob;
    }
  }

  &__article {
    @extend %article-not-last-margin;

    width: 46%;
    margin-top: -11%;

    @include respond(lg) {
      margin-top: -18%;
    }

    @include respond(md) {
      margin-top: -22%;
      width: 52%;
    }

    @include respond(xs) {
      width: 100%;
      margin-top: -8%;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;

    .career-accordion-wrapper {
      display: flex;
      align-items: center;
      margin-left: -2.5%;
      margin-top: 2rem;
    }

    //Arrow Images up/down
    & .career-arrow-images {
      padding-right: 2rem;
      display: flex;
      flex-direction: column;

      @include respond(xs) {
        display: none;
      }

      &__icon {
        width: 2rem;
        max-width: 2rem;

        &.icon--down {
          margin-top: 1rem;
        }
      }
    }

    .career-white-box {
      display: flex;
      margin-top: 3rem;
      background-color: $bg_color_white;
      box-shadow: 0 10px 50px #1c1f470d;
      border-radius: 12px 12px 0 12px;
      position: relative;

      @include respond(lg) {
        margin-top: 4rem;
      }

      @include respond(xs) {
        margin-top: 2rem;
        flex-direction: column;
        display: none;
      }

      &__bar_icon_right {
        max-width: 6rem;
        height: auto;
        position: absolute;
        right: -2%;
        top: 50%;
        z-index: 0;

        @include respond(md) {
          right: -3%;
        }

        @include respond(xs) {
          right: -5%;
          max-width: 5rem;
        }
      }
    }
  }//__row

  ////Accordion Mobile
  .career-accordion__mobile {
    display: none;

    @include respond (xs) {
      display: block;
      margin-top: 2rem;
    }

    & .mobile-wrapper:not(:last-of-type) {
      margin-bottom: 4rem;
    }

    & .career-accordion__toggle-item {
      @extend %para-1-fs;

      cursor: pointer;
      font-family: $font-2;
      font-weight: $fw-extra-bold;
      color: $text-color-dark;
      border-radius: 12px 12px 12px 12px;
      background-color: #fff;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 70px;

      &--active {
        background-color: #fff;
        border-radius: 12px 12px 0 0;
        margin-bottom: 0;
      }
    }

    & .career-accordion__content {
      background-color: #fff;
      display: none;
      padding: 0 4rem 4rem;
      border-radius: 0 0 0 12px;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        border-width: 2.5rem;
        border-style: solid;
        border-color: $border_color;
        transition: 0.4s all ease-in-out;
      }

      & .mobile-para {
        @extend .para--4;

        font-weight: $fw-regular;
        color: $text-color-dark;
        font-family: $font-1;
        line-height: 1.5;
      }
    }
  }
  ////Accordion Mobile End
}

.career-accordion {
  display: flex;
  border-radius: 4px;
  color: #000;
  box-shadow: var(--box-shadow);

  // custom-accordion__left
  &__left {
    max-width: 40%;
    flex: 0 0 40%;

    @include respond(xs) {
      max-width: 100%;
      flex: 0 0 100%;
    }

    // custom-accordion__left__course
    &__course {
      @extend %para-1-fs;

      max-width: 100%;
      width: 100%;
      letter-spacing: 0.63px;
      position: relative;
      margin: 0;
      flex: 1;
      padding: 20px 0 20px 22px;
      cursor: pointer;
      font-family: $font-2;
      font-weight: $fw-extra-bold;
      color: $text-color-dark;
      box-shadow: 20px 0 50px #1c1f471a;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 27rem;
      transition: all 0.3s ease-in-out;
      user-select: none;
      background-color: #fff;
      text-align: center;

      @include respond(lg) {
        font-size: 18px;
      }

      @include respond(md) {
        padding: 12px 0 12px 12px;
        min-height: 34rem;
      }

      @include respond(xs) {
        text-transform: unset;
      }

      &::before {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        border-width: 0;
        border-style: solid;
        border-color: $border_color;
        transition: 0.4s all ease-in-out;
      }

      &:first-of-type {
        border-radius: 12px 12px 0 0;
        // box-shadow: 0 10px 50px #1c1f470d;
      }

      &:last-of-type {
        border-radius: 0 0 12px 12px;
      }

      // custom-accordion__left__course--active
      &--active {
        position: relative;
        margin-left: 3px;
        opacity: 1;

        &::before {
          border-width: 2.5rem;
        }
      }// custom-accordion__left__course--active
    } // custom-accordion__left__course
  } // custom-accordion__left

  &__right {
    max-width: 60%;
    flex: 0 0 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5rem;
    position: relative;

    @include respond(xs) {
      max-width: 100%;
      display: none;
    }

    &--large {
      // @extend %blocks-padding-y;

      align-items: flex-start;
    }

    // custom-accordion__right__course
    &__course {
      display: none;
      height: 100%;
      background-color: #fff;
      border-radius: 1.5rem;
      z-index: 999;

      &--active {
        max-width: 100%;
        width: 100%;
        display: block !important;
        animation: fadein 1s;
        padding: 5rem;
      }
    }// custom-accordion__right__course--active
  }// /.course
}// /.right

//custom-accordion
.career-course {
  $root: &;

  color: #000;
  font-family: $font-2;

  &-title {
    @extend .headline, .headline--3;

    font-family: $font-2;
    letter-spacing: 0.92px;
    font-weight: $fw-bold;
    color: $text-color-dark;
    line-height: 1;

    @include respond(xs) {
      font-size: 20px;
    }
  }

  &-article {
    width: 100%;
  }

  &-para {
    @extend .para, .para--1;

    max-width: 100%;
    font-weight: $fw-regular;
    color: $text-color-dark;
  }
}

////Specialist Program
.specialist-program {
  $root: &;

  padding: 5rem 0;
  position: relative;

  & .cross {
    right: unset;
    left: 4%;
    top: 7%;

    @include respond(xl) {
      left: -1%;
    }

    @include respond(md) {
      left: -2%;
    }

    @include respond(xs) {
      display: none;
    }
  }

  &__bar_icon_right {
    position: absolute;
    width: 7rem;
    right: -2%;
    top: 22%;

    @include respond(lg) {
      width: 6rem;
      right: -3%;
    }

    @include respond(xs) {
      display: none;
    }
  }

  &__container {
    @include respond(xs) {
      padding: 0 $container-padding-x--mob;
    }
  }

  &__headlines {
    width: 71%;

    @include respond(xs) {
      width: 100%;
    }

    #{$root}-ah--1 {
      color: $text-color-dark;

      & br {
        @include respond(xs) {
          display: none;
        }
      }
    }

    #{$root}-p--1 {
      width: 64%;

      @include respond(xs) {
        width: 100%;
      }
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
  }//__row

  .specialist-program-white-box {
    display: flex;
    margin-top: 3rem;
    background-color: $bg_color_white;
    border-radius: 12px 12px 0 12px;
    box-shadow: 0 10px 50px #1c1f470d;

    @include respond(lg) {
      margin-top: 4rem;
    }

    @include respond(xs) {
      margin-top: 2rem;
      flex-direction: column;
      border-radius: 20px 20px 0 20px;
    }

    &__arrow {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 3rem;

      @include respond(lg) {
        margin-right: 2rem;
      }

      @include respond(xs) {
        display: none;
      }

      & .specialist-program-icon {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}

.specialist-program-accordion {
  display: flex;

  // custom-accordion__left
  &__left {
    max-width: 40%;
    flex: 0 0 40%;
    box-shadow: 20px 0 50px #1c1f471a;
    border-radius: 12px 12px 0 12px;
    position: relative;

    @include respond(lg) {
      max-width: 45%;
      flex: 0 0 45%;
    }

    @include respond(xs) {
      max-width: 100%;
      flex: 0 0 100%;
      border-radius: 20px 20px 0 20px;
    }

    &::before {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      border-color: $border_color;
      border-style: solid;
      border-width: 2.5rem;
    }

    &-p--1 {
      font-weight: $fw-bold;
      color: $text-color-dark;
      margin-bottom: 2rem;
    }

    &__wrapper {
      display: flex;
      padding: 8rem 1rem 8rem 4rem;

      @include respond (lg) {
        padding: 8rem 1rem 8rem 2rem;
      }

      @include respond (xs) {
        padding: 5rem 1rem 5rem 4rem;
      }
    }

    // custom-accordion__left__course
    &__course {
      @extend %para-4-fs;

      max-width: 100%;
      width: 100%;
      letter-spacing: 0.63px;
      position: relative;
      cursor: pointer;
      font-family: $font-2;
      font-weight: $fw-regular;
      color: grey;
      margin-bottom: 1rem;
      margin-left: 3px;
      background-color: $bg_color_white;

      // // custom-accordion__left__course--active
      &--active {
        position: relative;
        font-weight: $fw-semi-bold;
        color: $text-color-dark;

        &::before {
          content: "● ";
          color: $color-1;
          font-size: 2rem;
          position: absolute;
          left: -1.6rem;
          top: 50%;
          transform: translate(0%, -50%);
        }
      }// custom-accordion__left__course--active
      // custom-accordion__left__course--active
    } // custom-accordion__left__course
  } // custom-accordion__left

  &__right {
    max-width: 60%;
    flex: 0 0 60%;
    position: relative;

    @include respond(lg) {
      max-width: 55%;
      flex: 0 0 55%;
    }

    @include respond(xs) {
      max-width: 100%;
      flex: 0 0 100%;
      background-color: #f7fbff;
      border-radius: 20px 20px 0 20px;
    }

    // custom-accordion__right__course
    &__course {
      display: none;
      height: 100%;
      z-index: 999;

      &--active {
        max-width: 100%;
        width: 100%;
        display: block !important;
        animation: fadein 1s;
        padding: 5rem 8rem;

        @include respond(md) {
          padding: 5rem;
        }
      }

      &-ah--4 {
        font-family: $font-2;
      }
    }// custom-accordion__right__course--active
  }// /.course
}// /.right

/////Numbers Section
.numbers-section {
  $root: &;

  padding: 5rem 0;

  @include respond(md) {
    padding: 0 0 8rem 0;
  }

  @include respond(xs) {
    padding: 0 0 5rem 0;
  }

  .numbers-wrapper {
    $root: &;

    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    position: relative;

    @include respond(lg) {
      justify-content: space-between;
    }

    @include respond(xs) {
      flex-direction: column;
      align-items: center;
    }

    &__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 50% 50% 0 50%;
      background-color: $color-1;
      max-width: 22%;
      width: 22%;
      padding: 8rem 4rem;
      text-align: center;
      background-image: linear-gradient(to bottom right, $color-1, #ce162c);

      @include respond(lg) {
        max-width: 23%;
        width: 23%;
        padding: 6rem 4rem;
      }

      @include respond(md) {
        max-width: 24%;
        width: 24%;
        padding: 4rem 2rem;
      }

      @include respond(xs) {
        width: 64%;
        max-width: 64%;
        min-height: 25rem;
        margin-bottom: 5rem;
      }
    }

    & .box-ah--2 {
      color: $text-color-light;
      font-family: $font-2;
    }

    & .box-ah--4 {
      color: $text-color-light;
      font-family: $font-2;

      &:nth-of-type(2n+1) {
        @include respond(xs) {
          font-size: 3rem;
        }
      }
    }

    & .box-p--2 {
      color: $text-color-light;
      font-family: $font-1;
      font-weight: $fw-regular;
    }
  }
}

// Market
.market {
  background-color: $color-5;
  padding: 8rem 0;
  position: relative;

  &__iconUp {
    max-width: 15rem;
    position: absolute;
    top: -9%;
    right: 53%;

    @include respond(xs) {
      top: unset;
      right: unset;
      bottom: 0;
      left: -13%;
      max-width: 13rem;
    }

    @include respond(xxs) {
      left: -14%;
    }
  }

  &--ah--6 {
    color: $bg_color_white;
    font-weight: $fw-book;
    padding-top: 4rem;
    font-family: $font-2;
    text-align: center;
    margin: 0 auto;
    width: 94%;

    @include respond(laptops) {
      width: 86%;
    }

    @include respond(xs) {
      padding-top: 0;
    }
  }

  &--marker {
    color: $bg_color_white;
    font-weight: $fw-bold;
  }
}

// FAQ

/* --------------------
    accordion
----------------- */
.faq {
  padding: 10rem 0;
  overflow: hidden;
  position: relative;

  &__container {
    padding: 0 10%;
    z-index: 1;
    position: relative;
  }

  &__main {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin-top: 8rem;
  }//END accordion__main

  &__toggle-item {
    @extend %para-2-fs;

    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-2;
    font-weight: $fw-bold;
    position: relative;
    margin: 0;
    padding: 15px 13px 15px 25px;
    cursor: pointer;
    color: $text-color-dark;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    border-radius: 13px 26px 0 13px;
    z-index: 999;

    &:not(:first-of-type) {
      box-shadow: inset 0 17px 23px -12px rgba(51, 51, 51, 0.2);
      // box-shadow: 0 10px 50px #1c1f470d;
    }

    @include respond(xs) {
      letter-spacing: normal;
      padding-top: 2rem;
      padding-bottom: 2rem;
      min-height: 92px;
    }

    & .faq-arrowUp {
      width: 2.5rem;
      max-width: 2.5rem;
      margin-right: 3%;
      transition: all 0.5s ease-in-out;

      &.rotate_img {
        transform: rotate(180deg);
      }
    }

    &--active {
      // box-shadow: 0 10px 15px rgba(51, 51, 51, 0.2);

      &::before {
        content: "";
        background-color: $color-3;
        height: 8px;
        width: 6rem;
        position: absolute;
        bottom: 20%;
        left: 2.5%;

        @include respond(lg) {
          bottom: 11%;
          left: 3.5%;
        }

        @include respond(xs) {
          height: 6px;
          width: 4rem;
          bottom: 8%;
          left: 7.5%;
        }
      }
    }
  } // END toggle-item

  &__content {
    display: none;
    width: 100%;
    padding: 0;
    height: max-content;
    background: none;
    position: relative;
    background-color: rgba($color-7, 0.7);
    z-index: 0;
    border-radius: 0 0 0 15px;
    margin-top: -1rem;

    @include respond(xs) {
      max-height: unset;
      height: max-content;
    }

    &::before {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      border-color: $border_color;
      border-style: solid;
      border-width: 2.5rem;
    }

    &-p--1 {
      @extend %para-1-fs;

      font-family: $font-1;
      display: flex;
      font-weight: $fw-regular;
      color: $text-color-dark;
      align-items: center;
      height: 100%;
      background-color: rgba($color-7, 0.7);
      max-width: 100%;
      margin: 0 auto;
      padding: 4rem 3rem 3rem;
      border-radius: 0 0 0 15px;

      @include respond(xs) {
        padding: 2rem 3rem;
      }
    }
  }
} //END accordion
