/* stylelint-disable no-descending-specificity */

.accordion-section {
  padding: 15rem 0 10rem 0;
  position: relative;
  overflow-x: hidden;

  @include respond(lg) {
    padding: 9rem 0;
  }

  @include respond(xs) {
    padding: 0 0 9rem;
  }

  /////About Us
  &.about {
    @include respond(xs) {
      padding: 6rem 0;
    }

    & .accordion-section__triangles {
      @include respond(xs) {
        max-width: 11rem;
        top: 52%;
        left: -13%;
      }
    }

    & .triangle {
      @include respond(xs) {
        display: block;
        left: unset;
        right: 8%;
        top: 13%;
        border-bottom: 30px solid $color-8;
        border-left: 30px solid transparent;
      }
    }

    & .cross__blue {
      @include respond(xs) {
        display: none;
      }
    }
  }

  ////Contact Us
  &.contactUs {
    @include respond(xs) {
      padding: 4rem 0 9rem 0;
    }

    & .cross {
      display: none;
    }

    & .accordion-section__triangles {
      top: unset;
      left: -3%;
      bottom: 14%;

      @include respond(lg) {
        left: -4%;
      }

      @include respond(md) {
        max-width: 11rem;
      }

      @include respond(xs) {
        left: -15%;
        bottom: 44%;
        max-width: 10rem;
      }

      @include respond(xxs) {
        left: -16%;
      }
    }

    & .custom-accordion__left__course--active {
      padding: 20px 1px 20px 0;
    }
  }

  & .cross__blue {
    left: -0.5%;
    bottom: 23%;
    top: unset;

    @include respond(xl) {
      left: -1%;
    }

    @include respond(lg) {
      bottom: 12%;
    }

    @include respond(md) {
      left: -2%;
      bottom: 8%;
    }

    @include respond (xs) {
      bottom: unset;
      left: unset;
      top: 0;
      right: -1%;
    }
  }

  & .triangle {
    display: none;
  }

  &__triangles {
    position: absolute;
    max-width: 15rem;
    top: -4%;
    left: 38%;
  }

  & .para-mobile {
    display: none;

    @include respond(xs) {
      display: block;
    }
  }

  &__container {
    @include respond(xs) {
      padding: 0 $container-padding-x--mob;
    }
  }

  &__article {
    @extend %article-not-last-margin;
  }

  .accordion__mobile {
    display: none;

    @include respond (xs) {
      display: block;
      margin-top: 6rem;
    }

    & .mobile-wrapper:not(:last-of-type) {
      margin-bottom: 4rem;
    }

    & .accordion__toggle-item {
      @extend %para-1-fs;

      cursor: pointer;
      font-family: $font-2;
      font-weight: $fw-extra-bold;
      color: $text-color-dark;
      border-radius: 12px 12px 12px 12px;
      background-color: $color_bg;
      text-align: center;
      // transition: all 0.3s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      // margin-bottom: 4rem;
      min-height: 70px;

      &--active {
        background-color: #fff;
        border-radius: 12px 12px 0 0;
        margin-bottom: 0;
      }
    }

    & .accordion__content {
      background-color: #fff;
      display: none;
      padding: 0 4rem 4rem;
      border-radius: 0 0 0 12px;
      position: relative;
      // margin-bottom: 4rem;

      &::before {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        border-width: 2.5rem;
        border-style: solid;
        border-color: $border_color;
        transition: 0.4s all ease-in-out;
      }

      & .mobile-para {
        @extend .para--4;

        font-weight: $fw-regular;
        color: $text-color-dark;
        font-family: $font-1;
        line-height: 1.5;
      }
    }
  }

  &__row {
    display: flex;
    flex-direction: column;

    @include respond(lg) {
      padding: 0 7rem;
    }

    @include respond(md) {
      padding: 0;
    }

    .accordion__content_programs {
      height: fit-content;
      max-height: unset;
      padding: 0;
    }

    .white-box {
      display: flex;
      margin-top: 3rem;

      @include respond(lg) {
        margin-top: 4rem;
      }

      @include respond(xs) {
        margin-top: 2rem;
        flex-direction: column;
        display: none;
      }
    }
  }//__row
}

.custom-accordion {
  min-height: 646px;
  height: 100%;
  display: flex;
  border-radius: 4px;
  color: #000;

  // custom-accordion__left
  &__left {
    max-width: 38%;
    flex: 0 0 38%;

    @include respond (lg) {
      max-width: 42%;
      flex: 0 0 42%;
    }

    @include respond(xs) {
      max-width: 100%;
      flex: 0 0 100%;
    }

    // custom-accordion__left__course
    &__course {
      @extend %para-1-fs;

      max-width: 65%;
      width: 65%;
      letter-spacing: 0.63px;
      position: relative;
      margin: 0;
      flex: 1;
      // padding: 20px 0 20px 22px;
      padding: 20px 6px 20px 0;
      cursor: pointer;
      font-family: $font-2;
      font-weight: $fw-extra-bold;
      color: $text-color-dark;
      margin-left: 3px;
      display: flex;
      min-height: 8rem;
      transition: all 0.3s ease-in-out;
      user-select: none;
      border-radius: 12px 12px 0 12px;
      background-color: #1c1f470d;
      margin-top: 3rem;
      justify-content: center;
      align-items: center;
      text-align: center;

      @include respond (lg) {
        max-width: 100%;
        width: 100%;
      }

      &::before {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        border-width: 0;
        border-style: solid;
        border-color: $border_color;
        transition: 0.4s all ease-in-out;
      }

      &:hover {
        background-color: #fff;

        &::before {
          border-width: 2.5rem;
        }
      }

      // & .mobile-para {
      //   @extend .para--4;

      //   display: none;
      //   font-weight: $fw-regular;
      //   color: $text-color-dark;
      //   font-family: $font-1;
      //   width: 100%;
      //   padding-top: 2rem;
      // }

      // custom-accordion__left__course--active
      &--active {
        position: relative;
        margin-left: 3px;
        background-color: #fff;
        opacity: 1;

        @include respond(xs) {
          min-height: 22rem;
          flex-direction: column;

          .mobile-para {
            display: block;
          }
        }

        &::before {
          border-width: 2.5rem;
        }
      }// custom-accordion__left__course--active
    } // custom-accordion__left__course
  } // custom-accordion__left

  &__right {
    max-width: 60%;
    flex: 0 0 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5rem;
    position: relative;

    @include respond(lg) {
      max-width: 58%;
      flex: 0 0 58%;
    }

    @include respond(xs) {
      max-width: 100%;
      display: none;
    }

    &__arrow {
      padding-right: 2rem;
      display: flex;
      flex-direction: column;
      padding-top: 70%;

      & .custom-accordion-icon {
        width: 2rem;
        max-width: 2rem;

        &.icon--down {
          margin-top: 1rem;
        }
      }
    }

    &--bar_icon_right {
      width: 5rem;
      max-width: 5rem;
      height: auto;
      position: absolute;
      right: -2%;
      top: 33%;
      z-index: 0;

      @include respond (lg) {
        right: -7%;
      }
    }

    // custom-accordion__right__course
    &__course {
      display: none;
      height: 100%;
      background-color: #fff;
      border-radius: 1.5rem;
      z-index: 999;

      &__top {
        & > img {
          width: 100%;
          max-width: 100%;
          height: 100%;
          max-height: 100%;
          object-fit: contain;
        }// /. > img
      }// /.top

      &__bottom {
        padding: 4rem 5rem;
        display: flex;
        flex-direction: column;

        & .btn {
          &--2 {
            align-self: flex-end;
            margin-top: 3rem;
          }
        }
      }

      &--active {
        max-width: 91%;
        width: 100%;
        display: block !important;
        animation: fadein 1s;
      }
    }// custom-accordion__right__course--active
  }// /.course
}// /.right

//custom-accordion
.course {
  $root: &;

  color: #000;
  font-family: $font-2;

  &-ah--4 {
    font-family: $font-2;
    letter-spacing: 0.92px;
    font-weight: $fw-bold;
    color: $text-color-dark;
    line-height: 1;

    @include respond(xs) {
      font-size: 20px;
    }
  }

  &-article {
    width: 100%;
  }

  &-para {
    @extend .para, .para--1;

    max-width: 100%;
    font-weight: $fw-regular;
  }
}

.active {
  position: relative;
  margin-left: 3px;
  color: $color-1;
  box-shadow: none;
  font-weight: $fw-black;

  &::before {
    background-color: $color-1;
  }
}

