.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.6rem 1.5rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  // btn--2
  &--2 {
    background-color: $color-1;
    color: $text-color-light;
    font-family: $font-2;
    font-weight: $fw-bold;
    border: none;
    font-size: 1.6rem;
    outline: none;
    padding: 1rem 1.5rem;
    border-radius: 7px 7px 0 7px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      border-width: 0;
      border-style: solid;
      border-color: $color-1  #fff #fff $color-1;
      transition: 0.2s all ease-in-out;
    }

    &:hover {
      &::before {
        border-width: 5px;
      }
    }
  } //END btn--2
}
