/* stylelint-disable no-descending-specificity */

.carousel-programs {
  $root: &;

  padding-bottom: 3rem;
  max-width: 100%;
  position: relative;

  &__right-img {
    position: absolute;
    max-width: 18rem;
    right: -5%;
    bottom: 5%;

    @include respond(md) {
      max-width: 10rem;
    }

    @include respond(xs) {
      display: none;
    }
  }

  &__mobile-img {
    display: none;

    @include respond(xs) {
      display: block;
      position: absolute;
      max-width: 5rem;
      left: -5%;
      top: 29%;
    }

    @include respond(xxs) {
      left: -6%;
    }
  }

  & .line {
    margin-bottom: 6rem;
  }

  // carousel__right
  &__right {
    overflow-x: hidden;
    max-width: 100%;
    margin-top: -8%;
    z-index: 0;

    @include respond (xs) {
      height: 120vh;
      margin-top: -67%;
    }
  }

  //// Our Programs
  &.programs {
    & .carousel-programs__right {
      margin-top: 0;

      @include respond (xs) {
        margin-top: 1%;
        height: 123vh;
      }

      @include respond (xxs) {
        height: 127vh;
      }

      & .swiper-slide {
        @include respond (xxs) {
          margin-bottom: 50px;
        }
      }

      & .slide {
        @include respond(xxs) {
          padding: 1rem 2.7rem;
        }
      }
    }

    & .swiper-container-horizontal > .swiper-scrollbar {
      border: 9px solid #f4f6fb;
    }
  }

  ////Students
  &.students {
    margin-top: 5%;

    & .carousel-programs__right-img {
      max-width: 8rem;
      right: -2%;
    }

    & .swiper-container {
      @include respond (xxs) {
        // padding-top: 20rem;
      }
    }

    & .carousel-programs__right {
      margin-top: 0;

      @include respond (xs) {
        margin-top: 0;
        height: 145vh;
      }

      @include respond (xxs) {
        height: 149vh;
      }

      & .slide {
        min-height: 36rem;

        @include respond(xxs) {
          padding: 1.1rem 2.7rem;
        }
      }
    }
  }
}

//#{$root} END carousel

/////SWIPER/////
.swiper-container {
  position: relative;

  @include respond(md) {
    padding-left: 2%;
  }

  @include respond(xs) {
    width: 100%;
    height: 100%;
  }
}

.swiper-wrapper {
  margin-bottom: 7rem;
}

.swiper-container .slide {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  background-color: #fff;
  font-weight: 700;
  cursor: -webkit-grab;
  cursor: grab;
  color: #000;
  margin: 0.5rem 0 2rem 0;
  min-height: 26rem;
  padding: 2rem 4rem;
  width: 75%;
  border-radius: 15px 15px 0 15px;
  text-decoration: none;
  background-size: cover;
  background-repeat: no-repeat;
  transition: box-shadow 0.5s ease-in-out;

  @include respond(lg) {
    min-height: 39rem;
  }

  @include respond (md) {
    padding: 2rem 3rem;
    width: 80%;
  }

  @include respond (xs) {
    display: flex;
    justify-content: center;
    min-height: 20rem;
    width: 85%;
    align-items: flex-start;
    text-align: left;
    padding: 0 3rem;
  }

  &:active {
    cursor: pointer;
  }

  .border_slide {
    width: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 15px 15px 0 15px;
    transition: border-radius 0.2s ease-in-out, width 0.5s ease-in-out;
    margin: 0.5rem 0 2rem 0;
    padding: 3.5rem 0;
  }

  &--1 {
    background-image: url("../images/home/bg_slide_1.png");

    & > .border_slide {
      border-bottom: 3px solid #54b4ff;
    }

    &:hover {
      box-shadow: 0 10px 20px #68eae426;
    }

    &:hover .border_slide {
      cursor: pointer;
      width: 75%;
      padding: 2.5rem 4rem;
      border-radius: 15px 15px 0 15px;
    }

    & > .slide__title::after {
      color: #54b4ff;
    }
  }

  &--2 {
    background-image: url("../images/home/bg_slide_4.png");
    background-color: rgba(255, 255, 255, 0.95);
    background-blend-mode: lighten;

    & > .border_slide {
      border-bottom: 3px solid #ff603b;
    }

    &:hover {
      box-shadow: 0 10px 20px #ff7c2426;
    }

    &:hover .border_slide {
      cursor: pointer;
      width: 75%;
      padding: 2.5rem 4rem;
      border-radius: 15px 15px 0 15px;
    }

    & > .slide__title::after {
      color: #ff603b;
    }
  }

  &--3 {
    background-image: url("../images/home/bg_slide_2.png");
    background-color: rgba(255, 255, 255, 0.95);
    background-blend-mode: lighten;

    & > .border_slide {
      border-bottom: 3px solid  #7b55ff;
    }

    &:hover {
      box-shadow: 0 10px 20px #7b55ff26;
    }

    &:hover .border_slide {
      cursor: pointer;
      width: 75%;
      padding: 2.5rem 4rem;
      border-radius: 15px 15px 0 15px;
    }

    & > .slide__title::after {
      color: #7b55ff;
    }
  }

  &--4 {
    background-image: url("../images/home/bg_slide_3.png");
    background-color: rgba(255, 255, 255, 0.95);
    background-blend-mode: lighten;

    & > .border_slide {
      border-bottom: 3px solid #ff445b;
    }

    &:hover {
      box-shadow: 0 10px 20px #ff475d26;
    }

    &:hover .border_slide {
      cursor: pointer;
      width: 75%;
      padding: 2.5rem 4rem;
      border-radius: 15px 15px 0 15px;
    }

    & > .slide__title::after {
      color: #ff445b;
    }
  }

  // @media only screen and (max-width: 768px) {
  //   margin: 1rem 1.3rem 0.5rem 1.3rem;
  // }

  &__url {
    width: 100%;
    height: 100%;
  }

  &__top {
    display: flex;
    align-items: center;

    & .slide__img {
      display: none;

      @include respond (xs) {
        display: block;
      }
    }
  }

  &__title {
    @extend .para--2;

    color: $text-color-dark;
    font-family: $font-2;
    font-weight: $fw-bold;
    position: relative;

    &::after {
      content: "\203A";
      position: absolute;
      top: 0;
      padding-left: 1rem;
    }
  }

  //END slide_title

  // .slide__text
  &__text {
    @extend .para--4;

    font-weight: $fw-regular;
    line-height: 1.2;
    list-style-type: none;
    color: $text-color-dark;
    margin: 1rem 0;

    @include respond (xs) {
      margin: 1rem 1rem;
    }
  }

  // slide__img
  &__img {
    width: 8rem;
    height: 7rem;
    align-self: center;

    @include respond (xs) {
      display: none;
    }
  }
  // END slide__btn
}

//END slide #eff0f5

.swiper-container-horizontal > .swiper-scrollbar {
  height: 20px;
  background-color: grey;
  border: 9px solid #f5f6fb;
}

.programs-scrollbar {
  height: 40px;
  background-color: grey;
  width: 96.5%;
  opacity: 1 !important;

  @include respond (xs) {
    display: none;
  }

  .swiper-scrollbar-drag {
    background: $color-3;
    border: 9px solid $color-3;
    top: -0.7rem;
    border-radius: 0;
  }
}

