/* stylelint-disable no-descending-specificity */

.collage {
  $root: &;

  position: relative;

  @include respond (xs) {
    display: none;
  }

  & .cross {
    top: -8%;
    right: 17%;

    @include respond (xl) {
      right: 5%;
    }
  }

  & .triangle {
    left: 3%;

    @include respond (xl) {
      left: 1%;
    }

    @include respond (lg) {
      left: -1%;
    }
  }

  //////contactUs
  &.contactUs {
    @include respond(xs) {
      display: block;
    }

    & * .cross {
      @include respond(xs) {
        display: none;
      }
    }

    & * .triangle {
      display: none;
    }

    & * .collage__wrapper {
      margin-top: -11%;

      @include respond(md) {
        margin-top: -9%;
      }

      @include respond(xs) {
        margin-top: unset;
      }
    }

    & .collage__icon--corners_icon_down {
      right: unset;
      left: -5%;
      bottom: unset;
      top: 18%;
      width: 17rem;
      height: auto;

      @include respond(lg) {
        top: 21%;
        width: 10rem;
      }

      @include respond(md) {
        left: -5%;
      }

      @include respond(xs) {
        display: none;
      }
    }

    & .collage__icon--bar-icon-right {
      @include respond(xs) {
        display: none;
      }
    }

    & .collage__wrapper .box {
      background-position: left;
      padding-bottom: 5rem;
    }

    & .collage__wrapper .box--1 {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/contact/about_2.jpg");
    }

    & .collage__wrapper .box--2 {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/contact/about_1.jpg");
    }

    & .collage__wrapper .box--3 {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/contact/about_3.jpg");
    }

    & .collage__wrapper .box--blur::before {
      min-height: 47%;
    }
  }
  ////contactUs

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    width: 94.5%;

    @include respond (lg) {
      width: 98.5%;
    }

    @include respond (md) {
      width: 100%;
    }

    @include respond(xs) {
      grid-template-columns: 1fr;
    }

    & .box {
      min-height: 68rem;
      display: flex;
      align-items: flex-end;
      padding-bottom: 3rem;
      z-index: 999;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;

      @include respond (lg) {
        min-height: 50rem;
      }

      @include respond (md) {
        min-height: 45rem;
        padding-bottom: 2rem;
      }

      @include respond(xs) {
        margin-bottom: 5rem;
      }

      & .article {
        padding: 0 5rem;
        display: flex;
        flex-direction: column;

        @include respond (md) {
          padding: 0 2rem;
        }

        &-ah--1 {
          color: $text-color-light;
          font-weight: $fw-semi-bold;
        }

        & .line__white {
          align-self: flex-start;
          margin-left: 6px;
        }

        &-p--1 {
          color: $text-color-light;
        }

        & .btn {
          align-self: flex-end;
          margin-top: 2rem;

          @include respond (md) {
            margin-top: 1rem;
          }
        }
      }

      &--1 {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/home/hats.jpg");
        grid-column: 1/2;
        grid-row: 1/3;

        @include respond(xs) {
          grid-column: 1/2;
          grid-row: 1/3;
        }
      }

      &--2 {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/home/group.jpg");
        grid-column: 1/2;
        grid-row: 3/6;

        @include respond(xs) {
          grid-column: 1/2;
          grid-row: 6/9;
        }
      }

      &--3 {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/home/windows.jpg");
        grid-column: 2/3;
        grid-row: 2/4;
        z-index: 999;

        @include respond(xs) {
          grid-column: 1/2;
          grid-row: 3/6;
        }
      }

      &--blur {
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          min-height: 55%;
          background: inherit;
          z-index: -1;
          filter: blur(10px);
          backdrop-filter: blur(10px);
          background-color: rgba(0, 0, 0, 0.5);

          @include respond(lg) {
            min-height: 72%;
          }

          @include respond(md) {
            min-height: 80%;
          }
        }
      }
    }
  }

  &__icon {
    width: 7rem;
    height: 7rem;
    position: absolute;
    z-index: 99;

    &--corners_icon_down {
      bottom: -2.8%;
      right: 48.6%;
      width: 13rem;
      height: 11rem;

      @include respond (lg) {
        bottom: -3.8%;
      }
    }

    &--bar-icon-right {
      right: 15%;
      top: 53%;
      width: 6rem;
      max-width: 8rem;
      height: auto;

      @include respond(laptops) {
        right: 13%;
      }

      @include respond(xl) {
        right: 8.5%;
      }

      @include respond (lg) {
        right: 2%;
        top: 48%;
      }
    }
  }
}
