/////ACCORDION-ECOSYSTEM//////@extend
.accordion-ecosystem {
  $root: &;

  padding: 15rem 0 10rem 0;

  @include respond (xl) {
    padding: 5rem 0 10rem 0;
  }

  @include respond(lg) {
    padding: 2rem 0;
  }

  @include respond (md) {
    padding: 2rem 0 6rem;
  }

  &__container {
    @include respond(xs) {
      padding: 0 $container-padding-x--mob;
    }
  }

  &__article {
    @extend %article-not-last-margin;
  }

  &__row {
    display: flex;
    flex-direction: column;

    @include respond(lg) {
      padding: 0;
    }
  }

  & .white-box {
    display: flex;
    margin-top: 3rem;
    background-color: #fff;
    position: relative;
    box-shadow: 0 10px 50px #1c1f470d;
    border-radius: 12px 12px 0 12px;
    min-height: 31rem;

    @include respond(lg) {
      margin-top: 4rem;
    }

    @include respond(md) {
      min-height: 35rem;
    }

    @include respond(xs) {
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      border-radius: 20px 20px 0 20px;
      background-color: transparent;
      min-height: 60rem;
    }

    &--bar_icon_right {
      width: 6rem;
      max-width: 6rem;
      height: auto;
      position: absolute;
      left: -2%;
      bottom: -19%;
      z-index: 0;
    }

    & .ecosystem-bar-icon-right {
      position: absolute;
      width: 5rem;
      bottom: -17%;
      z-index: -1;
      left: -2%;

      @include respond (xs) {
        display: none;
      }
    }
  }
}

.ecosystem-accordion {
  min-height: 646px;
  height: 100%;
  display: flex;
  border-radius: 4px;
  background-color: $text-color-light;
  color: #000;
  box-shadow: var(--box-shadow);

  // custom-accordion__left
  &__left {
    max-width: 25%;
    flex: 0 0 25%;
    z-index: 999;
    position: relative;
    background-color: #fff;

    @include respond(xs) {
      max-width: 50%;
      flex: 0 0 50%;
      border-radius: 20px 0 0 20px;
      padding-bottom: 5rem;
      min-height: 32rem;
    }

    &:nth-of-type(2) {
      &::before {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        border-width: 2.5rem;
        border-style: solid;
        border-color: $border_color;

        @include respond(md) {
          border-width: 2rem;
        }
      }
    }

    &:not(:first-of-type) {
      box-shadow: 20px 0 30px #1c1f471a;

      @include respond(xs) {
        border-radius: 0 20px 0 0;
        z-index: 0;
      }
    }

    &__buttons {
      display: flex;
      padding-bottom: 2rem;

      @include respond(xs) {
        padding-bottom: 0;
      }

      & .ecosystem-btn {
        width: 100%;
        max-width: 100%;
        padding: 2.5rem 0;
        border-radius: 17px 17px 0 17px;
        background-color: #fff;
        color: $text-color-dark;

        @include respond (lg) {
          margin-bottom: 1rem;
        }

        &--active {
          background-color: #ff22fa;
          color: #fff;
        }

        &:hover {
          &::before {
            border-width: 0;
          }
        }
      }
    }

    &__box-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include respond(xs) {
        position: absolute;
        width: 160%;
      }

      &.local {
        @include respond(xs) {
          left: 0;
        }
      }

      &.global {
        @include respond(xs) {
          right: 35%;
        }
      }
    }

    // custom-accordion__left__course
    &__course {
      @extend %para-1-fs;

      max-width: 97%;
      width: 100%;
      position: relative;
      margin: 0;
      flex: 1;
      padding: 1rem 0 1rem 2rem;
      cursor: pointer;
      font-size: 1.6rem;
      font-family: $font-2;
      font-weight: $fw-semi-bold;
      color: grey;
      margin-left: 3px;
      display: flex;
      align-items: center;
      height: unset;
      transition: all 0.3s ease-in-out;
      user-select: none;
      background-color: unset;

      @include respond(md) {
        padding: 12px 0 12px 12px;
      }

      @include respond(xs) {
        text-transform: unset;
        display: none;
        border-radius: 20px 20px 0 20px;
      }

      // custom-accordion__left__course--active
      &--active {
        position: relative;
        margin-left: 3px;
        background-color: transparent;
        opacity: 1;
        color: $text-color-dark;

        @include respond(xs) {
          display: block;
        }

        & ~ h5 {
          @include respond(xs) {
            display: block;
          }
        }

        &::before {
          content: "● ";
          color: $color-1;
          font-size: 2rem;
          position: absolute;
          left: 2px;
          top: 47%;
          transform: translate(0%, -50%);

          @include respond(xs) {
            left: 0;
          }
        }
      }// custom-accordion__left__course--active
    } // custom-accordion__left__course

    & .mobile {
      @include respond(xs) {
        display: block;
      }
    }
  } // custom-accordion__left

  &__right {
    display: none;
    max-width: 50%;
    flex: 0 0 50%;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem 0;

    @include respond (lg) {
      padding: 2rem 0;
    }

    @include respond(xs) {
      background-color: $color_bg;
      border-radius: 0 0 0 20px;
      margin-top: -3%;
      z-index: 9999;
    }

    @include respond(xxs) {
      margin-top: -4%;
    }

    &--active {
      display: block;
    }

    @include respond(xs) {
      max-width: 100%;
      flex: 0 0 100%;
      // display: none;
    }

    &--bar_icon_right {
      width: 5rem;
      max-width: 5rem;
      height: auto;
      position: absolute;
      right: 0;
      top: 33%;
      z-index: 0;
    }

    &--large {
      align-items: flex-start;
    }

    // custom-accordion__right__course
    &__course {
      display: none;
      height: 100%;
      background-color: #fff;
      border-radius: 1.5rem;
      z-index: 999;

      @include respond(xs) {
        background-color: $color_bg;
      }

      &__bottom {
        padding: 4rem 5rem;
        display: flex;
        flex-direction: column;

        & .btn {
          &--2 {
            align-self: flex-end;
            margin-top: 3rem;
          }
        }
      }

      &--active {
        max-width: 91%;
        width: 100%;
        display: block !important;
        animation: fadein 1s;
      }
    }// custom-accordion__right__course--active
  }// /.course
}// /.right

//custom-accordion
.course {
  $root: &;

  color: #000;
  font-family: $font-2;

  &-ah--4 {
    @extend .article-headline--4;

    font-family: $font-2;
    letter-spacing: 0.92px;
    font-weight: $fw-bold;
    color: $text-color-dark;
    line-height: 1;
  }

  &-article {
    width: 100%;
  }

  &-p--1 {
    max-width: 100%;
    font-weight: $fw-regular;
    color: $text-color-dark;
  }
}

.active {
  position: relative;
  margin-left: 3px;
  color: $color-1;
  box-shadow: none;
  font-weight: $fw-black;

  &::before {
    background-color: $color-1;
  }
}

