.ecosystem {
  $root: &;

  background-color: #222553;
  padding: 13rem 0;
  z-index: 999;

  @include respond(lg) {
    padding: 7rem 0;
  }

  //////Companies Page
  &.companies {
    padding: 13rem 0 5rem;

    @include respond(lg) {
      padding: 10rem 0 3rem 0;
    }

    @include respond(md) {
      padding: 10rem 0;
    }

    @include respond(xs) {
      padding: 7rem 0;
    }
  }
  //////Companies Page End
  &__row {
    display: flex;

    @include respond(md) {
      flex-direction: column;
    }
  }

  &__left {
    flex: 0 0 40%;
    max-width: 40%;
    display: flex;
    flex-direction: column;

    @include respond (md) {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
    }

    @include respond(xs) {
      text-align: left;
    }

    #{$root}-ah--1 {
      color: $text-color-light;
    }

    & .line {
      align-self: flex-start;

      @include respond (md) {
        align-self: center;
      }

      @include respond(xs) {
        align-self: start;
      }
    }

    #{$root}-p--1 {
      color: $text-color-light;
    }

    & .btn {
      align-self: flex-end;
      margin-top: 5rem;

      @include respond (lg) {
        margin-top: 2rem;
      }

      @include respond (md) {
        display: none;
      }
    }
  }

  &__right {
    padding-left: 5rem;
    padding-top: 4rem;
    flex: 0 0 60%;
    overflow-x: hidden;
    max-width: 100%;

    @include respond (lg) {
      padding-left: 4rem;
    }

    @include respond (md) {
      padding-left: 0;
    }

    @include respond (xs) {
      flex: 0 0 100%;
    }

    /////SWIPER/////
    .swiper-container {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 4rem 0;

      @include respond(md) {
        width: 78%;
      }

      @include respond(sm) {
        width: 100%;
      }
    }

    .swiper-slide {
      transition: all 0.4s ease-in-out;
      z-index: 999;

      & .ecosystem-slide {
        text-align: center;
        font-size: 18px;
        background-image: linear-gradient(to bottom right, $color-1, #ce162c);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        transition: all 0.5s ease;
        border-radius: $eyedrop-border;
        min-height: 24rem;
        opacity: 0.7;
        z-index: 0;

        @include respond(lg) {
          min-height: 19rem;
        }

        @include respond(xs) {
          min-height: 16rem;
        }

        &--image {
          width: 5rem;
          max-width: 5rem;
          height: 5rem;
          max-height: 5rem;

          @include respond(lg) {
            width: 4rem;
            max-width: 4rem;
            height: 4rem;
            max-height: 4rem;
          }
        }

        &-para {
          margin-top: 2rem;
          color: $text-color-light;
          font-size: 1.6rem;

          @include respond(lg) {
            margin-top: 1rem;
          }

          @include respond(xs) {
            margin-top: 0;
            padding-left: 7px;
            font-size: 1.4rem;
          }
        }
      }
    }

    .swiper-slide-next {
      transform: scale(1.2, 1.2);
      z-index: 9999;

      @include respond (xs) {
        transform: scale(1.25, 1.25);
      }

      & .ecosystem-slide {
        opacity: 1;
        z-index: 999;
      }
    }

    //Btn mobile
    & .btn {
      display: none;

      @include respond(md) {
        display: block;
        margin: 0 auto;
        padding: 1rem 3.5rem;
      }

      @include respond(xs) {
        padding: 1.5rem 4rem;
      }
    }
  }
}
