/* stylelint-disable no-descending-specificity */

.footer-form {
  $root: &;

  padding: 10rem 0;
  position: relative;

  /////INSTITUTION PAGE
  &.institution {
    & .cross {
      @include respond(xs) {
        display: block;
        top: 21%;
        left: -4%;
      }
    }

    & .cross__dark-blue {
      @include respond(xs) {
        left: unset;
        right: 17%;
        top: -25%;
      }
    }
  }

  /////PROGRAMS PAGE
  &.programs {
    @include respond(xs) {
      padding: 5rem 0;
    }

    & .cross {
      @include respond(xs) {
        display: block;
        top: 23%;
        left: -4%;
      }
    }

    & .cross__dark-blue {
      @include respond(xs) {
        left: unset;
        right: -1%;
        background-color: $color-8;
        top: -20%;
      }

      &::after {
        @include respond(xs) {
          background-color: $color-8;
        }
      }
    }
  }

  ////Companies
  &.companies {
    @include respond(xs) {
      padding: 0 0 10rem 0;
    }

    & .cross {
      @include respond(xs) {
        top: 25%;
        left: -4%;
      }
    }

    & .cross__dark-blue {
      @include respond(xs) {
        display: none;
      }
    }
  }

  ////About Page
  &.about {
    padding: 0 0 10rem 0;

    & .cross {
      @include respond(xs) {
        top: -9%;
      }
    }

    & .cross__dark-blue {
      @include respond(xs) {
        top: 0;
      }
    }
  }

  ////Contact US
  &.contactUs {
    padding: 0 0 10rem 0;

    & .cross {
      @include respond(xs) {
        top: 20%;
        left: -4%;
      }
    }

    & .cross__dark-blue {
      @include respond(xs) {
        display: none;
      }
    }

    & .triangle {
      left: unset;
      right: 12%;
      top: 4%;
    }

    & .footer-form__icon--corner_icon_upper {
      display: none;

      @include respond(xs) {
        display: block;
        top: -16%;
        right: -5%;
        width: 5rem;
      }
    }
  }

  /////404
  &.page404 {
    background-color: $color_bg;

    & .cross {
      @include respond(xs) {
        top: 25%;
      }
    }

    & .cross__dark-blue {
      @include respond(xs) {
        display: none;
      }
    }
  }
  ///404 end

  &__article {
    margin-bottom: 9rem;

    @include respond (md) {
      text-align: center;
    }

    @include respond(xs) {
      text-align: left;
    }

    & .line {
      @include respond (md) {
        align-self: center;
        margin: 1.5rem auto;
      }

      @include respond (xs) {
        align-self: flex-start;
        margin: 1.5rem 0;
      }
    }
  }

  &-ah--1 {
    & br {
      @include respond (md) {
        display: none;
      }

      @include respond (xs) {
        display: block;
      }
    }
  }

  &__row {
    display: flex;

    &--left {
      flex: 0 0 60%;
      display: flex;
      flex-direction: column;

      @include respond(lg) {
        flex: 0 0 55%;
      }

      @include respond(md) {
        flex: 0 0 100%;
      }

      @include respond (xs) {
        z-index: 999;
      }

      & .btn {
        align-self: flex-end;
        width: 18%;
        margin-top: 3rem;

        @include respond (md) {
          width: 24%;
        }

        @include respond(xs) {
          width: 45%;
          padding: 2rem 1.5rem;
          align-self: center;
        }
      }
    }

    &--right {
      padding-left: 5rem;
      position: relative;

      @include respond (md) {
        display: none;
      }

      & .cross.plus {
        display: block;
        z-index: 9999;
        height: 80px;
        width: 27px;
        right: -3%;

        &::after {
          height: 27px;
          width: 80px;
          top: 29px;
          left: -28px;
        }
      }
    }
  }

  ///Images

  &__img {
    margin-top: 2.7rem;
    position: relative;
    z-index: 999;

    &--image {
      width: 45rem;
      max-width: 45rem;
      height: 45rem;
      max-height: 45rem;
      border-radius: 13px;

      @include respond (lg) {
        width: 40rem;
        max-width: 40rem;
        height: 40rem;
        max-height: 40rem;
      }
    }
  }

  & .triangle {
    top: 55%;
    left: 3%;

    @include respond (xl) {
      left: 1%;
    }

    @include respond (lg) {
      left: 0%;
    }

    @include respond (xs) {
      display: none;
      top: -2%;
      left: -2%;
    }
  }

  & .cross {
    display: none;

    @include respond (xs) {
      display: block;
      top: -2%;
      left: -2%;
    }
  }

  & .cross__dark-blue {
    left: unset;
    right: 17%;
    top: 6%;
  }

  &__bar_icon_down {
    position: absolute;
    width: 6rem;
    max-width: 6rem;
    height: auto;
    right: 22%;
    bottom: 0;
    z-index: 0;

    @include respond (lg) {
      bottom: 12%;
    }
  }

  &__icon {
    width: 8rem;
    max-width: 8rem;
    height: auto;
    position: absolute;

    &--corner_icon_upper {
      top: -4%;
      right: 5%;
      width: 15rem;
      max-width: 15rem;
      z-index: -1;

      @include respond(xs) {
        display: none;
      }
    }

    &--bar-down-mob {
      display: none;

      @include respond(xs) {
        display: block;
        width: 5rem;
        bottom: 27%;
        right: 4%;
        z-index: 0;
      }
    }
  }
}
