// .form-container {
//   // max-width: 50%;
//   // width: 50%;
// }

.grid-form {
  @extend %para-1-fs;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto-fill;
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;

  @include respond(xs) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__group {
    display: flex;
    flex-direction: column;

    @include respond(xs) {
      grid-column: 1 / 3;
    }
  }

  &__control {
    width: 100%;
    height: 5rem;
    border: 1px solid #22255326;
    border-radius: 14px 14px 0 14px;
    background-color: #fff;
    font-family: $font-1;
    font-weight: $fw-medium;
    font-size: 1.6rem;
    color: $text-color-dark;
    text-indent: 1rem;
    outline: none;

    @include respond(xs) {
      height: 7rem;
    }

    &::placeholder {
      color: grey;
      background-color: #fff;
      font-size: 1.6rem;
      font-family: $font-1;
      font-weight: $fw-regular;
    }

    &:active,
    &:focus {
      border: 1px solid #f24444;
    }
  }

  &__label {
    font-size: 14px;
    color: $text-color-dark;
    font-family: $font-2;
    font-weight: $fw-semi-bold;
    margin-bottom: 1rem;
  }

  &__msg {
    grid-column: 1/3;

    & > textarea {
      font-family: $font-1;
      font-weight: $fw-regular;
      height: 10rem;
      resize: none;
      padding-top: 1rem;
    }
  }

  &__disclaimer {
    grid-column: 1/3;

    & > .disclaimer {
      font-size: 13px;
      font-family: $font-1;
      font-weight: $fw-regular;
      color: grey;
      padding-left: 0.5rem;
    }
  }
}//form
