/* stylelint-disable no-descending-specificity */

.new-jobs {
  position: relative;

  //// Career
  &.career {
    & .new-jobs__row .new-jobs-left {
      background-image: url("../images/career/bg_newJob.jpg");
      background-size: cover;
      background-position: center;
    }

    & .new-jobs__row .new-jobs-right {
      padding: 5rem 28rem 5rem 5rem;
    }
  }

  & .cross {
    top: -7%;
    right: 8%;

    @include respond(laptops) {
      top: -8%;
    }

    @include respond(xl) {
      top: -9%;
    }

    @include respond(lg) {
      top: -7%;
    }

    @include respond (xs) {
      display: none;
    }
  }

  &__triangles-mobile {
    display: none;

    @include respond (xs) {
      position: absolute;
      display: block;
      max-width: 11rem;
      right: -11%;
      top: -19%;
    }

    @include respond(xxs) {
      right: -12%;
      top: -16.5%;
    }

    @include respond(iphone-5) {
      right: -14%;
      top: -15%;
    }
  }

  &__row {
    display: flex;
    background-color: $color-5;

    & .new-jobs-left {
      flex: 0 0 50%;
      background-image: url("../images/students/jobs.png");
      background-repeat: no-repeat;
      border-radius: 0 25px 0 0;

      @include respond(laptops) {
        background-repeat: no-repeat;
      }

      @include respond(xs) {
        display: none;
      }
    }

    & .new-jobs-right {
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;
      padding: 5rem 34rem 5rem 5rem;

      @include respond(xl) {
        padding: 8rem 18rem 8rem 5rem;
      }

      @include respond(lg) {
        padding: 8rem 5rem;
      }

      @include respond(xs) {
        flex: 0 0 100%;
        padding: 6rem 3rem;
      }

      &--ah--6 {
        color: $text-color-light;
        font-weight: $fw-book;
        line-height: 1.2;

        & br {
          @include respond(md) {
            display: none;
          }
        }
      }

      &--marker {
        font-weight: $fw-bold;
      }

      &--p--1 {
        color: $text-color-light;
        font-weight: $fw-book;
        margin-top: 2rem;
      }

      & .btn {
        margin-top: 4rem;
        align-self: flex-end;

        @include respond(xl) {
          margin-top: 1rem;
        }

        @include respond(lg) {
          margin-top: 4rem;
        }
      }
    }
  }
}
