.numbers {
  $root: &;

  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  position: relative;
  flex-wrap: wrap;

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50% 50% 0 50%;
    background-color: $color-1;
    max-width: 22%;
    width: 20%;
    padding: 5rem 4rem;
    text-align: center;
    background-image: linear-gradient(to bottom right, $color-1, #ce162c);

    @include respond (lg) {
      width: 23%;
      max-width: 23%;
    }

    @include respond (md) {
      width: 34%;
      max-width: 45%;
      padding: 1rem 4rem;
      margin-bottom: 4rem;
      min-height: 28rem;
    }

    @include respond (xs) {
      width: 70%;
      max-width: 70%;
      padding: 1rem 2rem;
    }

    @include respond(iphone-5) {
      width: 85%;
      max-width: 85%;
    }
  }

  #{$root}-ah--2 {
    color: $text-color-light;
    font-family: $font-2;
  }

  #{$root}-p--2 {
    color: $text-color-light;
    font-family: $font-1;
    font-weight: $fw-regular;
  }

  &__left-icon {
    width: 14rem;
    max-width: 14rem;
    height: auto;
    position: absolute;
    left: -23%;
    top: 30%;
  }
}
