.partners {
  $root:&;

  padding: 5rem 0 12rem 0;
  position: relative;

  @include respond(xs) {
    padding: 5rem 0 0 0;
  }

  & .cross__blue {
    display: none;
  }

  &__bar-icon-left {
    max-width: 6rem;
    position: absolute;
    left: 3px;
    top: -9%;

    @include respond(lg) {
      max-width: 5rem;
    }

    @include respond(xs) {
      left: -40px;
    }
  }

  &__mobile-img {
    display: none;

    @include respond(xs) {
      display: block;
      position: absolute;
      max-width: 11rem;
      left: -11%;
      top: -11%;
    }

    @include respond(xxs) {
      left: -12%;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 9rem;

    @include respond (xs) {
      margin: unset;
      width: 100%;
    }

    #{$root}-ah--1 {
      text-align: center;
    }

    & .line {
      align-self: self-start;
    }
  }

  /////Home page
  &.home {
    @include respond(xs) {
      padding: 10rem 0 0 0;
    }
  }

  /////Students page
  &.parntersStudents {
    background-color: #fff;
    padding: 5rem 0 5rem 0;
  }

  /////Programs page
  &.programs {
    padding: 5rem 0 0 0;

    & .partners__bar-icon-left {
      max-width: 16rem;
      left: unset;
      right: -4.2%;
      top: 0;

      @include respond(md) {
        right: -8.2%;
      }

      @include respond(xs) {
        display: none;
      }
    }
  }

  /////Srudents page
  &.students {
    & .partners__bar-icon-left {
      max-width: 16rem;
      left: -5%;
      top: 8%;
    }

    & .partners__article-ah--1 {
      text-align: center;
    }
  }

  ////About PAge
  &.about {
    @include respond(xs) {
      padding: 0 0 5rem 0;
    }

    & .cross__blue {
      @include respond(xs) {
        display: block;
        right: -2%;
        top: 21%;
      }
    }
  }
}

.swiper-main {
  // margin: 0 auto;

  & .swiper-test {
    max-width: 100%;
  }

  .swiper-slide {
    .partners-slide {
      max-width: 100%;
      max-height: 100%;
      min-height: 10rem;
      text-align: center;
      font-size: 18px;
      background: var(--color-1);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &--img {
        width: 20rem;
        max-width: 20rem;
        object-fit: contain;

        @include respond (lg) {
          width: 16rem;
          max-width: 16rem;
        }

        @include respond (xs) {
          width: 11rem;
          max-width: 11rem;
        }
      }
    }
  }

  & .swiper-button-next,
  & .swiper-button-prev {
    transform: translate(-50%, -50%);
    color: $color-6;
    width: 0.1rem;
    top: 44%;

    &::after {
      @include respond(xs) {
        font-size: 27px;
      }
    }
  }

  & .swiper-button-prev1 {
    padding-left: 1%;
  }
}
