/* stylelint-disable no-descending-specificity */

.require {
  $root: &;

  padding: 10rem 0;
  position: relative;

  @include respond(xs) {
    padding: 5rem 0;
  }

  //// Career
  &.career {
    & .cross {
      display: none;
    }

    & .require__white-boxes .box {
      max-width: 50%;
      width: 50%;
    }
  }

  &-p--1 {
    width: 45%;
  }

  & .cross__blue {
    right: 6%;
    top: 30%;

    @include respond (xs) {
      display: none;
    }
  }

  & .cross {
    left: -0.5%;
    top: 9%;

    @include respond (lg) {
      left: -0.5%;
      top: -2%;
    }

    @include respond (xs) {
      display: none;
    }
  }

  &.institution-top {
    & * .cross {
      background-color: $color-8;
      left: unset;
      right: 6%;
      top: 30%;

      @include respond(xl) {
        right: 3%;
      }

      &::after {
        background-color: $color-8;
      }
    }

    & .require-ah--1 {
      text-align: center;
    }

    & .line {
      margin: 1.5rem 20%;

      @include respond(laptops) {
        margin: 1.5rem 22.5%;
      }

      @include respond(lg) {
        margin: 1.5rem 26.5%;
      }

      @include respond(md) {
        margin: 1.5rem 12.5%;
      }

      @include respond(xs) {
        margin: 1.5rem 16.5%;
      }
    }

    & .require__image-mobile {
      @include respond (xs) {
        left: unset;
        right: -10%;
        top: unset;
        bottom: -7%;
        width: 10rem;
      }
    }
  }

  &__image-mobile {
    display: none;
    width: 8rem;
    position: absolute;
    left: -2%;
    top: 10%;

    @include respond (xs) {
      display: block;
      top: 36%;
    }
  }

  &__icon-right {
    position: absolute;
    width: 8rem;
    right: 0;
    right: -2%;
    top: 30%;

    @include respond (lg) {
      width: 6rem;
      right: -3%;
    }

    @include respond(xs) {
      right: unset;
      left: -5%;
      width: 5rem;
      top: 40%;
    }
  }

  &__white-boxes {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 12px 12px 0 12px;
    padding: 4rem 3rem 1rem 7rem;
    margin-top: 7rem;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      border-width: 2.5rem;
      border-style: solid;
      border-color: $border_color;
    }

    .box {
      max-width: 33%;
      width: 33%;
      margin-bottom: 4rem;

      @include respond (xs) {
        max-width: 100%;
        width: 100%;
      }

      & > .line {
        margin: 1rem 0 0 0;
        width: 4rem;
      }

      &-p--1 {
        font-weight: $fw-bold;
        font-family: $font-2;
        color: $text-color-dark;

        @include respond(xs) {
          font-size: 2.4rem;
        }
      }
    }
  }

  &__note {
    margin-top: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;

    @include respond (xs) {
      margin-top: 6rem;
    }

    & .cross {
      left: unset;
      right: -9%;
      top: -52%;

      @include respond(lg) {
        right: -3%;
      }

      @include respond (md) {
        top: -39%;
      }

      @include respond (xs) {
        display: block;
        top: 30%;
        right: -9%;
        background-color: $color-8;

        &::after {
          background-color: $color-8;
        }
      }

      @include respond (xxs) {
        right: -10%;
      }
    }

    // & .note-x-icon-red {
    //   width: 8rem;
    //   position: absolute;
    //   right: -10%;
    //   top: -37%;

    //   @include respond (xl) {
    //     right: -5%;
    //   }

    //   @include respond (lg) {
    //     width: 6rem;
    //     right: -1%;
    //   }

    //   @include respond(xs) {
    //     right: -11%;
    //     top: 20%;
    //   }
    // }

    &--h--1 {
      padding: 0 2.2rem;
    }

    &--btn {
      margin-top: 3rem;

      @include respond(xs) {
        padding: 1.5rem 1.5rem;
      }
    }
  }
}
