.story {
  $root: &;

  padding: 10rem 0 7rem;
  background-color: #fff;
  position: relative;
  z-index: 999;

  @include respond(md) {
    padding: 7rem 0;
  }

  @include respond(xs) {
    padding: 6rem 0 9rem 0;
  }

  & .cross {
    right: 6%;
    top: -5%;

    @include respond(xs) {
      display: none;
    }
  }

  &__images {
    position: absolute;
    width: 10rem;

    &--bar-icon-left {
      max-width: 5rem;
      bottom: 8%;
      left: 0.1%;

      @include respond(lg) {
        left: -1.9%;
      }

      @include respond(xs) {
        left: unset;
        right: -11%;
        max-width: 11rem;
        width: 11rem;
        bottom: -4%;
      }
    }
  }

  // &__articles {}

  // &--ah--1 {}

  &__row {
    display: flex;
    margin-top: 7rem;

    @include respond(xs) {
      margin-top: 3rem;
    }

    &__left {
      flex: 0 0 43%;
      padding-right: 5rem;
      overflow: hidden scroll;
      position: relative;
      height: 58rem;

      @include respond(lg) {
        height: 47rem;
      }

      @include respond(md) {
        height: 41rem;
      }

      @include respond(xs) {
        flex: 0 0 95%;
      }

      &::-webkit-scrollbar {
        width: 1.5rem;
      }

      &::-webkit-scrollbar-track {
        background-color: gray;
        border: 6.5px solid #fff;

        @include respond(laptops) {
          border: 4px solid #fff;
        }

        @include respond(lg) {
          border: 5px solid #fff;
        }
      }

      &::-webkit-scrollbar-thumb {
        background-color: $color-3;
      }

      &--p--1 {
        padding: 2rem 1rem 1rem;
      }
    }

    &__right {
      margin-left: 8rem;
      position: absolute;
      right: 0;
      max-width: 50%;

      @include respond(xs) {
        display: none;
      }

      &--figure {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          right: 0;
          bottom: 0.5%;
          border-width: 4.5rem;
          border-style: solid;
          border-color: $border_color;
          z-index: 999;
        }

        & .story-right-image {
          border-radius: 10px 0 0 10px;
          height: 65rem;

          @include respond(lg) {
            height: 54rem;
          }

          @include respond(md) {
            height: 48rem;
          }
        }

        & .story-right-overlay {
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          width: 100%;
          height: 99%;
          background: $color-5;
          opacity: 0.3;
          border-radius: 10px 10px 0;
          color: #fff;
        }
      }
    }
  }
}
