/* stylelint-disable no-descending-specificity */

.success-carousel {
  padding: 4rem 0 5rem 0;
  overflow-x: hidden;

  &__container {
    margin-bottom: 7rem;
  }

  //// Home Page
  &.home {
    display: none;

    @include respond(xs) {
      display: block;
    }
  }
  ////End Home Page

  //// Programs Page
  &.programs {
    padding: 11rem 0 5rem 0;

    @include respond(xs) {
      padding: 5rem 0;
    }
  }
  ////End of Programs Page

  &.companies {
    padding: 10rem 0 5rem 0;

    & .swiper-slide .success-carousel__slide {
      background-position: bottom;

      @include respond(md) {
        min-height: 67rem;
      }
    }

    & .swiper-slide .success-carousel__slide.blur::before {
      min-height: 76%;
    }
  }

  ////About
  &.about {
    & .swiper-slide .success-carousel__slide.blur::before {
      min-height: 46%;
    }
  }
}

.swiper-container {
  width: 100%;
  height: 100%;

  @include respond (xs) {
    padding-left: 0.5%;
  }
}

.swiper-wrapper {
  margin-bottom: 7rem;
}

.swiper-slide {
  & .success-carousel__slide {
    $root: &;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    font-weight: 700;
    cursor: pointer;
    margin: 0.5rem 0 2rem 0;
    min-height: 53rem;
    padding: 0 5rem 3rem 5rem;
    transition: box-shadow 0.5s ease-in-out;
    position: relative;
    z-index: 999;
    background-size: cover;
    background-repeat: no-repeat;

    @include respond(xs) {
      padding: 0 3rem 2rem 3rem;
    }

    // &--1 {
    //   // background: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 0, 0, 0)), url("../images/our_programs/slide_3.jpg");
    //   background-size: cover;
    //   background-repeat: no-repeat;
    // }

    // &--2 {
    //   // background: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 0, 0, 0)), url("../images/our_programs/slide_1.jpg");
    //   background-size: cover;
    //   background-repeat: no-repeat;
    // }

    // &--3 {
    //   // background: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 0, 0, 0)), url("../images/our_programs/slide_2.jpg");
    //   background-size: cover;
    //   background-repeat: no-repeat;
    // }

    &.blur {
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        min-height: 66%;
        background: inherit;
        z-index: -1;
        filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.5);

        @include respond (xs) {
          height: 72%;
        }
      }

      & .success-carousel__slide__text {
        display: block;
      }
    }

    &__title {
      @extend .article-headline--1;

      color: $text-color-light;
      font-family: $font-2;
      font-weight: $fw-bold;
      position: relative;
    }

    & .line {
      align-self: start;
    }

    &__text {
      @extend .para--4;

      font-weight: $fw-light;
      line-height: 1.2;
      list-style-type: none;
      color: $text-color-light;
      margin: 1rem 0;
      display: none;

      @include respond(xs) {
        margin: 1rem 0;
      }
    }
  }
}

.swiper-container-horizontal > .swiper-scrollbar {
  height: 20px;
  background-color: grey;
  border: 9px solid #e9eeff;
}

.programs-scrollbar {
  height: 40px;
  background-color: grey;
  width: 96.5%;
  opacity: 1 !important;
}

.swiper-scrollbar-drag {
  background: $color-3;
  border: 9px solid $color-3;
  top: -0.7rem;
  border-radius: 0;
}
