/* stylelint-disable no-descending-specificity */

.testimonials {
  padding: 4rem 0 9rem;
  position: relative;
  overflow-x: hidden;

  @include respond(xs) {
    padding: 8rem 0 9rem;
  }

  //// Companies Page
  &.companies {
    & .testimonials__slide {
      justify-content: flex-start;
      min-height: 51rem;
    }
  }

  //// Students Page
  &.students {
    & .testimonials__slide {
      justify-content: flex-start;
      min-height: 51rem;
    }
  }

  &__bar-icon-left {
    max-width: 6rem;
    position: absolute;
    left: -2%;
    bottom: 13%;

    @include respond(xs) {
      display: none;
      left: unset;
      bottom: unset;
      right: -10%;
      top: 1%;
      max-width: 10rem;
    }
  }

  & .swiper-container {
    width: 100%;
    height: 100%;
    margin-left: 13%;
    margin-top: 10rem;

    @include respond(xs) {
      margin-left: 8%;
      margin-top: 6rem;
    }
  }
}

.swiper-slide {
  & .testimonials__slide {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    font-weight: 700;
    cursor: pointer;
    margin: 0.5rem 0 2rem 0;
    min-height: 57rem;
    padding: 0 4rem 4rem 4rem;
    width: 80%;
    background-color: #fff;
    transition: box-shadow 0.5s ease-in-out;
    border-radius: 15px;

    @include respond(xs) {
      min-height: 63rem;
      padding: 0 5rem 4rem 5rem;
    }

    &--title {
      display: flex;
    }

    &--photo {
      max-width: 20rem;
      height: auto;

      @include respond(xs) {
        max-width: 16rem;
      }
    }

    &--ah--4 {
      font-family: $font-2;
    }

    &--p--1 {
      font-weight: $fw-bold;
      color: $text-color-dark;
      font-family: $font-2;
    }

    & .line {
      align-self: start;
    }

    &--p--3 {
      font-weight: $fw-regular;
      font-family: $font-1;
      color: $text-color-dark;
    }

    &--logo {
      width: 15rem;
      max-width: 15rem;
      height: auto;
      margin-top: 4rem;
    }
  }
}

.swiper-container-horizontal > .swiper-scrollbar {
  height: 20px;
  background-color: grey;
  // border: 9px solid #e9eeff;
  opacity: 1 !important;
}

.programs-scrollbar {
  height: 40px;
  background-color: grey;
  width: 96.5%;
  opacity: 1 !important;
}

.swiper-scrollbar-drag {
  background: $color-3;
  border-radius: none;
  border: 9px solid $color-3;
  top: -0.7rem;
}
