/* --------------------
    HEADLINES PLACEHOLDERS
----------------- */
%headline-1-fs {
  font-size: $dsk-headline--1;

  @include respond(xl) {
    font-size: $lap-headline--1;
  }

  @include respond(lg) {
    font-size: $ipro-headline--1;
  }

  @include respond(md) {
    font-size: $ip-headline--1;
  }

  @include respond(xs) {
    font-size: $mob-headline--1;
  }
}

%headline-2-fs {
  font-size: $dsk-headline--2;

  @include respond(xl) {
    font-size: $lap-headline--2;
  }

  @include respond(lg) {
    font-size: $ipro-headline--2;
  }

  @include respond(md) {
    font-size: $ip-headline--2;
  }

  @include respond(xs) {
    font-size: $mob-headline--2;
  }
}

%headline-3-fs {
  font-size: $dsk-headline--3;

  @include respond(lg) {
    font-size: $ipro-headline--3;
  }

  @include respond(xs) {
    font-size: $mob-headline--3;
  }
}

%headline-4-fs {
  font-size: $ipro-article-headline-1;

  @include respond(lg) {
    font-size: $ipro-article-headline-1;
  }

  @include respond(xs) {
    font-size: $mob-headline--4;
  }
}

%headline-4-fs-custom {
  font-size: $ipro-article-headline-1;

  @include respond (xl) {
    font-size: 3.2rem;
  }

  @include respond (lg) {
    font-size: 2.5rem;
  }

  @include respond (xs) {
    font-size: 2.5rem;
  }
}

%headline-5-fs {
  font-size: $dsk-headline--5;

  @include respond(xl) {
    font-size: $lap-headline--5;
  }

  @include respond(lg) {
    font-size: $ipro-headline--5;
  }

  @include respond(md) {
    font-size: $ip-headline--5;
  }

  @include respond(xs) {
    font-size: $mob-headline--5;
  }
}

.headline {
  font-family: $font-1;
  color: $text-color-dark;

  &--1 {
    @extend %headline-1-fs;
  }

  &--2 {
    @extend %headline-2-fs;

    font-family: $font-2;
    font-weight: $fw-bold;
  }

  &--3 {
    @extend %headline-3-fs;

    font-family: $font-2;
    color: $text-color-dark;
  }

  &--4 {
    @extend %headline-4-fs;

    &--custom {
      @extend %headline-4-fs-custom;
    }
  }

  &--5 {
    @extend %headline-5-fs;
  }
}

/* --------------------
    ARTICLE HEADLINE PLACEHOLDERS
----------------- */
%article-headline-1-fs {
  font-size: $dsk-article-headline-1;

  @include respond(lg) {
    font-size: $ipro-article-headline-1;
  }

  @include respond(md) {
    font-size: $ip-article-headline-1;
  }

  @include respond(xs) {
    font-size: $mob-article-headline-1;
  }
}

%article-headline-1-custom-fs {
  font-size: 4rem;

  @include respond(lg) {
    font-size: $ipro-article-headline-1;
  }

  @include respond(xs) {
    font-size: 3rem;
  }
}

%article-headline-2-fs {
  font-size: $dsk-article-headline-2;

  @include respond(lg) {
    font-size: $ipro-article-headline-2;
  }

  @include respond(md) {
    font-size: $ip-article-headline-2;
  }

  @include respond(xs) {
    font-size: $mob-article-headline-2;
  }
}

%article-headline-3-fs {
  font-size: $dsk-article-headline-3;

  @include respond(lg) {
    font-size: $ipro-article-headline-3;
  }

  @include respond(xs) {
    font-size: $mob-article-headline-3;
  }
}

%article-headline-4-fs {
  font-size: $dsk-article-headline-4;

  @include respond(lg) {
    font-size: $ipro-article-headline-4;
  }

  @include respond(xs) {
    font-size: $mob-article-headline-4;
  }
}

%article-headline-5-fs {
  font-size: $dsk-article-headline-5;
}

%article-headline-6-fs {
  font-size: $dsk-article-headline-6;

  @include respond(lg) {
    font-size: $ipro-article-headline-6;
  }

  @include respond(xs) {
    font-size: $mob-article-headline-6;
  }
}

/* --------------------
    .article-headline
----------------- */
.article-headline {
  font-family: $font-1;

  &--1 {
    @extend %article-headline-1-fs;

    &-custom {
      @extend %article-headline-1-custom-fs;
    }
  }

  &--2 {
    @extend %article-headline-2-fs;
  }

  &--3 {
    @extend %article-headline-3-fs;

    font-weight: $fw-bold;
  }

  &--3-digital {
    @extend %article-headline-3-fs;

    color: #fff;
    z-index: 2;
    font-size: 2rem;

    @include respond(xl) {
      font-size: 1.5rem;
    }

    @include respond(xs) {
      font-size: 2rem;
    }
  }

  &--4 {
    @extend %article-headline-4-fs;
  }

  &--5 {
    @extend %article-headline-1-fs;
  }

  &--6 {
    @extend %article-headline-6-fs;
  }
}

/* --------------------
    PARAGRAPHS PLACEHOLDERS
----------------- */
%para-1-fs {
  font-size: $dsk-article-paragraph-1;

  @include respond(lg) {
    font-size: $ipro-article-paragraph-1;
  }

  @include respond(xs) {
    font-size: $mob-article-paragraph-1;
  }
}

%para-2-fs {
  font-size: $dsk-article-paragraph-2;

  @include respond(lg) {
    font-size: $ipro-article-paragraph-2;
  }

  @include respond(xs) {
    font-size: $mob-article-paragraph-2;
  }
}

%para-3-fs {
  font-size: $dsk-article-paragraph-3;
}

%para-4-fs {
  font-size: $dsk-article-paragraph-4;
}

%para-5-fs {
  font-size: $dsk-article-paragraph-5;
}

/* --------------------
    para
----------------- */

.para {
  font-family: $font-1;

  &--1 {
    @extend %para-1-fs;

    font-weight: $fw-book;
  }

  &--2 {
    @extend %para-2-fs;
  }

  &--3 {
    @extend %para-3-fs;
  }

  &--4 {
    @extend %para-4-fs;
  }

  &--5 {
    @extend %para-5-fs;
  }
}

/* --------------------
        disclaimer
----------------- */
.disclaimer {
  font-size: $disclaimer-text;
  font-family: $font-1;
  font-weight: $fw-book;

  & *[href] {
    color: currentColor;
  }

  // disclaimer__link
  &__link {
    color: inherit;
    text-decoration: underline;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}//END disclaimer

