/* @property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: true;
}
.numbers-number {
  animation: counter 5s infinite alternate ease-in-out;
  counter-reset: num var(--num);
  font: 800 40px system-ui;
  padding: 2rem;
}

.numbers-number::after {
  content: counter(num);
}

@keyframes counter {
  0% {
    --num: 0;
  }
  100% {
    --num: 10;
  }
} */
