.footer {
  $root: &;

  position: relative;
  padding: 6rem 0;
  background-color: #fff;

  @include respond(xs) {
    overflow-x: hidden;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;

    #{$root}-p--5 {
      color: $text-color-dark;
      font-weight: $fw-bold;
    }

    #{$root}-p--1 {
      font-weight: $fw-regular;
      font-size: 1.6rem;
      margin: 0 auto;

      @include respond(xs) {
        font-size: 2rem;
        padding: 0 6rem;
      }

      & br {
        @include respond(xs) {
          display: none;
        }
      }
    }
  }

  &__logo {
    width: 15rem;
    max-width: 15rem;
    align-self: center;

    @include respond(xs) {
      padding-bottom: 3rem;
    }
  }

  &__urls {
    color: grey;
    padding: 2rem 0;
    font-size: 1.4rem;
    font-family: $font-2;
    font-weight: $fw-regular;

    @include respond(xs) {
      font-size: 1.8rem;
      padding: 2rem 6rem;
      color: $text-color-dark;
    }

    .urls {
      color: inherit;
      text-decoration: none;

      &::before {
        content: "|";
      }
    }
  }

  &__social-icons {
    .social-icon {
      text-decoration: none;

      &:not(:last-of-type) {
        margin-right: 1rem;
      }
    }

    .social-icon svg {
      width: 2rem;
      max-width: 2rem;
      height: 2rem;
      max-height: 2rem;
    }
  }

  &__copyright-text {
    @extend %para-4-fs;

    margin-top: 2rem;
    font-family: $font-1;
    color: $text-color-dark;
    font-weight: $fw-regular;
  }

  ////Footer sides icons////
  &__corners_icon_right {
    width: 8rem;
    max-width: 8rem;
  }

  &__icons {
    width: 8rem;
    max-width: 8rem;
    height: auto;
    position: absolute;

    &--bar_icon_left {
      width: 5rem;
      max-width: 6rem;
      bottom: 0;
      left: 10%;

      @include respond (xs) {
        width: 3rem;
        max-width: 6rem;
        bottom: 23%;
        left: 5%;
      }
    }

    &--corners_icon_right {
      width: 12rem;
      max-width: 12rem;
      right: 0;
      top: 28%;

      @include respond(xs) {
        right: -13%;
        top: 65%;
      }
    }
  }
}
