.header {
  background-color: $color_bg;
  position: sticky;
  width: 100%;
  z-index: 10000;
  top: 0;

  @include respond (lg) {
    background-color: #fff;
  }

  .header__nav {
    display: flex;
    font-family: $font-2;
    justify-content: space-between;
    padding: 2rem 1rem;

    @include respond (lg) {
      background-color: #fff;
    }

    @include respond(xs) {
      display: block;
    }

    &-social {
      margin-left: 5rem;
      display: flex;
      list-style: none;
      background-color: $color_bg;
      align-items: center;
      text-align: left;
      letter-spacing: 0.2px;
      color: $text-color-dark;
      opacity: 1;

      @include respond(lg) {
        display: none;
      }

      .social_item {
        &:not(:last-of-type) {
          margin-right: 1rem;
        }

        .social-icon svg {
          width: 2rem;
          height: 2rem;
        }
      }
    }

    & > .custom-logo-link {
      width: 100%;
      height: auto;
    }

    & .custom-logo {
      display: inline-block;
      flex: 0 0 30%;

      @include respond(lg) {
        // margin-left: 10rem;
        max-width: 17rem;
      }
    }

    & .hamburger {
      display: none;

      @include respond(xs) {
        display: block;
        background: none;
        position: absolute;
        top: 70px;
        right: 30px;
        line-height: 45px;
        padding: 5px 15px 0 15px;
        color: #999;
        font-size: $ipro-article-paragraph-1;
        border: 0;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        z-index: 1000000000000;
      }
    }

    &-submenu--item {
      display: none;
    }

    &-menu {
      margin-left: 5rem;
      display: flex;
      flex: 0 0 70%;
      list-style: none;
      justify-content: space-between;
      align-items: center;
      background-color: $color_bg;
      text-align: left;
      letter-spacing: 0.2px;
      color: $text-color-dark;
      opacity: 1;

      @include respond(laptops) {
        flex: 0 0 80%;
        padding-right: 5rem;
      }

      @include respond(lg) {
        // flex: 0 0 80%;
        // padding-right: 5rem;
        display: none;
      }

      & > .current-menu-item a[href] {
        color: $color-3 !important;
        font-family: $font-2;
      }

      & .menu-item {
        color: $text-color-dark;
        font-size: $ipro-article-paragraph-1;
        font-family: $font-2;
        font-weight: $fw-bold;
        position: relative;
        padding: 1rem 0;

        @include respond(laptops) {
          font-size: 1.8rem;
        }

        @include respond(lg) {
          font-size: 1.6rem;
        }

        & a {
          text-decoration: none;
          color: $text-color-dark;
          transition: all 0.3s ease-in-out;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            bottom: -4px;
            width: 0;
            height: 4px;
            background-color: $color-3;
            transition: all 0.3s ease-in-out;
          }

          &:hover {
            color: $color-3 !important;

            &::before {
              width: 3rem;
            }
          }

          // style for the selected page in the drop down
          &[aria-current] {
            color: $color-1;

            &::before {
              width: 3rem;
            }
          }
        }

        & a:visited,
        a:focus {
          color: $text-color-dark;
          cursor: pointer;
        }
      }
    }
  }

  .hamburger-link {
    color: $text-color-dark;
    font-weight: 300;
    font-family: $font-2;
    font-size: $ipro-article-paragraph-1;
  }

  nav#mobile {
    display: none;
  }

  @include respond(lg) {
    nav#mobile {
      display: block;
      background-color: $color_bg;
    }

    /*
      Top black bar that holds the toggle button
    */

    nav#mobile #toggle-bar {
      line-height: 70px;
      height: 70px;
    }

    /*
    Toggle button #1 ("Menu")
    */

    nav#mobile strong a {
      margin-left: 30px;
      border: 1px solid #444;
      padding: 10px;
    }

    /*
    Toggle button #2 ("Navicon")
    */

    nav#mobile .navicon {
      float: right;
      height: 6px;
      width: 34px;
      margin: 20px;
      font-size: 0;
      position: absolute;
      right: 0;
      top: 15px;
    }

    /*
    The dropdown menu
    */

    nav#mobile ul li {
      clear: both;
      list-style: none;
    }

    nav#mobile ul li a {
      // @extend .para--3;

      display: block;
      background-color: $color_bg;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      margin: 2px 0;
      padding: 6px 0 6px 20px;
      font-size: 18px;
    }

    nav#mobile ul ul {
      font-size: small;
    }

    nav#mobile ul ul li {
      margin-left: 30px;
    }

    nav#mobile ul ul a {
      color: #333;
      font-size: 18px;
    }
  }

  .toggleBtn {
    display: inline-block !important;
    margin-right: 2em;
  }

  .down-sign {
    display: inline-block;
    margin-left: 0.3rem;
    font-size: 1.5rem;
  }

  .hamburger-border {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  #nav-icon3 {
    width: 35px;
    height: 45px;
    position: relative;
    margin: 50px auto;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: grey;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  /* Icon 3 */

  #nav-icon3 span:nth-child(1) {
    top: 0;
  }

  #nav-icon3 span:nth-child(2),
  #nav-icon3 span:nth-child(3) {
    top: 9px;
  }

  #nav-icon3 span:nth-child(4) {
    top: 18px;
  }

  #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  #nav-icon3.open span:nth-child(2) {
    transform: rotate(45deg);
  }

  #nav-icon3.open span:nth-child(3) {
    transform: rotate(-45deg);
  }

  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  .sub-menu {
    width: 30.5rem;
    min-width: 10em;
    display: none;
    max-width: 1000px;
    top: 92%;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    border-width: 0;
    border-style: solid;
    padding: 0;
    background-color: #fff;
    padding-left: 2rem;
    padding-bottom: 1rem;
    list-style: none;
    height: max-content;

    @include respond(lg) {
      position: unset;
      height: max-content;
      width: 50rem;
    }

    @include respond(xs) {
      padding: 0;
      width: 40rem;
      height: max-content;
    }

    & > li {
      position: relative;
    }

    li:not(:last-child) {
      margin: 2rem 0;

      @include respond(lg) {
        margin: 0;
      }
    }
  }
}

.aria-current {
  color: $color-1 !important;
  font-weight: $fw-bold;
}
