// ======================ROBOTO
@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/roboto/Roboto-Black.woff") format("woff"),
    url("../fonts/roboto/Roboto-Black.woff2");
  font-weight: $fw-black;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/roboto/Roboto-Bold.woff") format("woff"),
    url("../fonts/roboto/Roboto-Bold.woff2");
  font-weight: $fw-bold;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/roboto/Roboto-Light.woff") format("woff"),
    url("../fonts/roboto/Roboto-Light.woff2");
  font-weight: $fw-light;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/roboto/Roboto-Medium.woff") format("woff"),
    url("../fonts/roboto/Roboto-Medium.woff2");
  font-weight: $fw-medium;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/roboto/Roboto-Regular.woff") format("woff"),
    url("../fonts/roboto/Roboto-Regular.woff2");
  font-weight: $fw-regular;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/roboto/Roboto-Thin.woff") format("woff"),
    url("../fonts/roboto/Roboto-Thin.woff2");
  font-weight: $fw-thin;
  font-display: swap;
}

// ===================Monserrat

// @font-face {
//   font-family: "Montserrat";
//   src: url("../fonts/montserrat/Montserrat-Regular.woff") format("woff");
//   font-weight: $fw-regular;
//   font-display: swap;
// }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: $fw-regular;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Black.woff") format("woff");
  font-weight: $fw-black;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: $fw-bold;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ExtraBold.woff") format("woff");
  font-weight: $fw-extra-bold;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-ExtraLight.woff") format("woff");
  font-weight: $fw-extra-light;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Light.woff") format("woff");
  font-weight: $fw-light;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: $fw-medium;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: $fw-semi-bold;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Thin.woff") format("woff");
  font-weight: $fw-thin;
  font-display: swap;
}
