%fs-handler {
  // headline
  & *[class*="-h--1"] {
    @extend %headline-1-fs;

    font-weight: $fw-medium;
    color: $color-3;
    font-family: $font-2;
  }

  & *[class*="-h--2"] {
    @extend %headline-2-fs;

    font-family: $font-2;
    color: $text-color-dark;
  }

  & *[class*="-h--3"] {
    @extend %headline-3-fs;

    font-family: $font-2;
  }

  & *[class*="-h--4"] {
    @extend %headline-4-fs;

    font-family: $font-2;
  }

  & *[class*="-h--5"] {
    @extend %headline-5-fs;

    font-family: $font-2;
    color: $text-color-dark;
  }

  // article-headline

  & *[class*="-ah--1"] {
    @extend %article-headline-1-fs;

    color: $text-color-dark;
    font-family: $font-2;
    font-weight: $fw-bold;
    line-height: 1;
  }

  & *[class*="-ah--2"] {
    @extend %article-headline-2-fs;
  }

  & *[class*="-ah--3"] {
    @extend %article-headline-3-fs;

    font-family: $font-2;
    letter-spacing: 0.1px;
  }

  & *[class*="-ah--4"] {
    @extend %article-headline-4-fs;

    color: $text-color-dark;
  }

  & *[class*="-ah--5"] {
    @extend %article-headline-5-fs;
  }

  & *[class*="-ah--6"] {
    @extend %article-headline-6-fs;
  }

  & *[class*="-sub--1"] {
    @extend %para-1-fs;
  }

  & *[class*="-p--1"] {
    @extend %para-1-fs;

    line-height: 1.3;
    color: $text-color-dark;
  }

  & *[class*="-p--2"] {
    @extend %para-2-fs;
  }

  & *[class*="-p--3"] {
    @extend %para-3-fs;

    color: $text-color-dark;
  }

  & *[class*="-p--4"] {
    @extend %para-4-fs;
  }

  & *[class*="-p--5"] {
    @extend %para-5-fs;
  }
}

div,
section,
article {
  @extend %fs-handler;
}
