* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(laptops) {
    font-size: 45.25%;
  }

  @include respond(lg) {
    // width < 1024px ?
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25
  }

  @include respond(md) {
    // width < 992px ?
    font-size: 50%; // 1rem = 8px, 8/16 = 50
  }
}

body {
  box-sizing: border-box;
  line-height: 1.2;
  font-family: $font-1, sans-serif;
  font-weight: $fw-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  // overflow-x: hidden;
  height: unset !important;
  background: transparent linear-gradient(347deg, #dee8f4 0%, #f7f8fc 100%) 0% 0% no-repeat padding-box;
}

main {
  overflow-x: hidden;
}

/* --------------------
    container
----------------- */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @include respond (xs) {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px !important;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1280px !important;
  }
}

@media (min-width: 1800px) {
  .container {
    max-width: 1440px !important;
  }
}

form * input.error::placeholder {
  color: $color-danger !important;
}

/* --------------------
    DEFAULTS
----------------- */
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.calendly-overlay {
  z-index: 100000000000 !important;
}

// .sr-only {
//   position: absolute;
//   width: 1px;
//   height: 1px;
//   padding: 0;
//   margin: -1px;
//   overflow: hidden;
//   clip: rect(0, 0, 0, 0);
//   border: 0;
// }

.swiper-container-horizontal > .swiper-scrollbar {
  height: 20px;
  background-color: grey;
  border: 9px solid #f4f6fb;
}

.programs-scrollbar {
  height: 40px;
  background-color: grey;
  width: 96.5%;
  opacity: 1 !important;
}

.swiper-scrollbar-drag {
  background: $color-3;
  border-radius: none;
  border: 9px solid $color-3;
  top: -0.7rem;

  @include respond(xs) {
    border: 7px solid $color-3 !important;
  }
}

.br-laptops {
  display: none;

  @include respond(laptops) {
    display: block;
  }

  @include respond(xl) {
    display: none;
  }
}

.br-xl {
  display: none;

  @include respond(xl) {
    display: block;
  }

  @include respond(lg) {
    display: none;
  }
}

.br-ipro {
  display: none;

  @include respond(lg) {
    display: block;
  }

  @include respond(md) {
    display: none;
  }
}

.br-ipad {
  display: none;

  @include respond(md) {
    display: block;
  }

  @include respond(xs) {
    display: none;
  }
}

.br-mobile {
  display: none;

  @include respond(xs) {
    display: block;
  }
}
