@mixin respond($breakpoint) {

  // Small devices (Small Phones, 375px and less) */
  @if $breakpoint==iphone-5 {
    @media only screen and (max-width: 22.5em) {
      @content;
    }

    // screen is <= 360px / 16px = 22.5
  }

  // Small devices (Small Phones, 375px and less) */
  @if $breakpoint==xxs {
    @media only screen and (max-width: 23.4375em) {
      @content;
    }

    // screen is <= 375px / 16px = 23.4375
  }

  // Small devices (Medium Phones, 576px and less) */
  @if $breakpoint==xs {
    @media only screen and (max-width: 36.125em) {
      @content; // screen is <= 576px / 16px = 36em
    }
  }

  // Small devices (landscape Phones, 760px and less) */
  @if $breakpoint==sm {
    @media only screen and (max-width: 47.5em) {
      @content; //screen is <= 768px / 16px = 47.93em
    }
  }

  // Medium devices (Ipad, 992px and less) */
  @if $breakpoint==md {
    @media only screen and (max-width: 62em) {
      @content; //screen is <= 992px / 16px = 62em
    }
  }

  // Large devices (Ipad Pro, 1024px and less) */
  @if $breakpoint==lg {
    @media only screen and (max-width: 64em) {
      @content; //screen is <= 1024px / 16px = 64em
    }
  }

  //  ( 1280 and less) */
  @if $breakpoint==xl {
    @media only screen and (max-width: 80em) {
      @content; //screen is <= 1280px / 16px = 80em
    }
  }

  // Large devices (Laptops,   1540px) */
  @if $breakpoint==laptops {
    @media only screen and (max-width: 96.25em) {
      @content; //screen is <= 1540px / 16px = 96.25em
    }
  }

  // Large devices (large desktops, 1800px and up) */
  @if $breakpoint==xxl {
    @media only screen and (min-width: 112.5em) {
      @content; //screen is >= 1800px / 16px = 112em
    }
  }

  // ----------- iPad Pro ----------- */
  @if $breakpoint==ipad-pro-portrait-landscape {

    // Portrait and Landscape */
    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
      @content;
    }
  }

  @if $breakpoint==ipad-pro-portrait {

    // Portrait */
    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
      @content;
    }
  }

  @if $breakpoint==ipad-pro-landscape {

    // Landscape */
    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
      @content;
    }
  }
}

@mixin blur-me($opacity: 0.4, $padding: 4rem, $blur: 8px, $border-radius: $eye-border) {
  background: rgba(255, 255, 255, $opacity); // Make sure this color has an opacity of less than 1
  backdrop-filter: blur($blur); // This be the blur
  border-radius: $border-radius;
}

