$default_photo: url("../images/icons/default_img.svg");
$blocks_bg:  "https://via.placeholder.com/1000/FFFF00/000000";

//===BreakPoints===
$xxs:375px;
$xs:576px;
$sm:760px;
$md:992px;
$lg:1024px;
$xl: 1280px;
$xxl:1800px;

// Fonts StagSans
$font-1: "Roboto";

// Fonts StagSans
$font-2: "Montserrat";

//===Font Weights===
$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-book: 350;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;

// ===Colors===
$color-1:#ff22fa;
$color-2:#8ff7ff;
$color-3: #4b4bff;
$color-4: #dee8f4;
$color-5: #222553;
$color-6: #7b55ff;
$color-7: #f7fbff;
$color-8: #17ffff;
$color_bg: #f7f8fc;
$bg_color_white: #fff;
$text-color-dark:#1c1f47;
$text-color-light:#fff;
$input-placeholder: #9e9e9e;
$bg-gray:#eee;

// Default colors
$color-danger: #d9534f;
$border_color: transparent $color-1 $color-1 transparent;

// ===Text Sizes===
$disclaimer-text: 13px;

// Desktop text sizes
$dsk-headline--1: 3.4rem;
$dsk-headline--2: 9rem;
$dsk-headline--3: 2.8rem;
$dsk-headline--4: 3.5rem;
$dsk-headline--5: 8rem;
$dsk-article-headline-1: 6rem;
$dsk-article-headline-2: 7rem;
$dsk-article-headline-3: 3rem;
$dsk-article-headline-4: 4rem;
$dsk-article-headline-5: 3.6rem;
$dsk-article-headline-6: 5.5rem;
$dsk-article-paragraph-1: 2.2rem;
$dsk-article-paragraph-2: 2rem;
$dsk-article-paragraph-3: 1.8rem;
$dsk-article-paragraph-4: 1.6rem;
$dsk-article-paragraph-5: 2.4rem;

// Laptop 1280px
$lap-headline--1: 3.4rem;
$lap-headline--2: 8rem;
$lap-headline--5: 8rem;

// ipad pro text sizes
$ipro-headline--1: 2.5rem; //55px / 9px
$ipro-headline--2: 6.222rem; //65px / 9px
$ipro-headline--3: 2.8rem; // 45px / 9px
$ipro-headline--4: 4rem; // ? / 9px
$ipro-headline--5: 6.1rem; // ? / 9px
$ipro-article-headline-1: 3.5rem; //35px / 9px
$ipro-article-headline-2: 3rem; //36px / 9px
$ipro-article-headline-3: 2rem; // ? / 9px
$ipro-article-headline-4: 2.3rem; // ? / 9px
$ipro-article-headline-6: 4rem; // ? / 9px
$ipro-article-paragraph-1: 2rem; // 20px / 9px
$ipro-article-paragraph-2: 2rem; // ? / 9px
// ipad text sizes
$ip-headline--1: 3rem; //55px / 9px
$ip-headline--2: 5.222rem; //65px / 9px
$ip-headline--5: 5.1rem; //65px / 9px
$ip-article-headline-1: 4.7rem; //35px / 9px
$ip-article-headline-2: 4rem; //36px / 9px
// mobile  text sizes
$mob-headline--1: 2.5rem; // 30 / 8px
$mob-headline--2: 5rem; // 40px / 8px
$mob-headline--3: 2.8rem; // 30px / 8px
$mob-headline--4: 2.25rem; // 18 / 8px
$mob-headline--5: 5rem; // 40px / 8px
$mob-article-headline-1: 4rem; // 30px / 8px
$mob-article-headline-2: 5rem; // 24px / 8px
$mob-article-headline-3: 2rem; // 16 / 8px
$mob-article-headline-4: 2.275rem; // ? / 8px
$mob-article-headline-6: 3rem; // ? / 8px
$mob-article-paragraph-1: 2rem; // 16px / 8px
$mob-article-paragraph-2: 1.8rem; // 16px / 8px
$mob-article-paragraph-3: 1.6rem; // 16px / 8px
$dsk-article-paragraph-4: 2rem;
$input-fs: 16px;

// ===Spacing===
$dsk-padding-y:50px;
$ipro-padding-y:40px;
$mob-padding-y:20px;
$container-padding-x--mob:30px;

$box-shadow--1: 0 8px 15px rgba(51, 51, 51, 0.2);

$p-margin-b: 2rem;
$elm-margin-y: 2rem;

%image-animation {
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: translateY(-4px);
  }
}

%article-not-last-margin {
  & > *:not(:first-child):not(:last-child) {
    margin-bottom: 2rem;
  }
}

%space-between-widgets-y {
  margin-bottom: 3rem;
}

$spacer:2rem;

// ===Carousel border===
$eyedrop-border: 50% 50% 0 50%;

