.cross {
  background: $color-1;
  height: 93px;
  position: absolute;
  width: 30px;
  right: 0;
  top: 37%;

  @include respond(laptops) {
    height: 80px;
    width: 26px;
  }

  @include respond(lg) {
    height: 70px;
    width: 22px;
  }

  @include respond (xs) {
    height: 50px;
    width: 19px;
  }

  &::after {
    background-color: $color-1;
    content: "";
    height: 30px;
    left: -31px;
    position: absolute;
    top: 33px;
    width: 93px;

    @include respond(laptops) {
      height: 26px;
      width: 80px;
      left: -27px;
      top: 30px;
    }

    @include respond(xl) {
      top: 28px;
    }

    @include respond(lg) {
      height: 22px;
      width: 70px;
      left: -24px;
      top: 25px;
    }

    @include respond (xs) {
      height: 19px;
      width: 50px;
      left: -15px;
      top: 17px;
    }
  }

  &__blue {
    background-color: $color-8;

    @include respond(laptops) {
      height: 80px;
      width: 26px;
    }

    @include respond (md) {
      height: 70px;
      width: 22px;
    }

    @include respond (xs) {
      height: 50px;
      width: 19px;
    }

    &::after {
      background-color: $color-8;

      @include respond(laptops) {
        height: 26px;
        width: 80px;
        left: -27px;
        top: 30px;
      }

      @include respond (md) {
        height: 22px;
        width: 70px;
        left: -24px;
        top: 25px;
      }

      @include respond (xs) {
        height: 19px;
        width: 50px;
        left: -16px;
        top: 17px;
      }
    }
  }

  &__dark-blue {
    background-color: $color-3;

    @include respond (xs) {
      height: 40px;
      width: 14px;
    }

    &::after {
      background-color: $color-3;

      @include respond (xs) {
        height: 14px;
        width: 40px;
        left: -13px;
        top: 14px;
      }
    }
  }
}
