.line {
  background-color: $color-3;
  width: 7rem;
  height: 9px;
  align-self: center;
  margin: 1.5rem 0;

  @include respond(xs) {
    width: 5rem;
    height: 8px;
  }

  &__white {
    background-color: #fff;

    @include respond(xs) {
      width: 5rem;
      height: 7px;
    }
  }
}
