.triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 50px solid $color-8;
  border-left: 50px solid transparent;

  @include respond(xl) {
    border-bottom: 40px solid $color-8;
    border-left: 40px solid transparent;
  }

  &__red {
    border-bottom: 50px solid $color-1;
    border-left: 50px solid transparent;

    @include respond(xl) {
      border-bottom: 40px solid $color-1;
      border-left: 40px solid transparent;
    }

    @include respond(xs) {
      border-bottom: 30px solid #ff22fa;
      border-left: 30px solid transparent;
    }
  }
}
